
GO
/****** Object:  UserDefinedTableType [dbo].[AttandanceDetails]    Script Date: 10/10/2021 4:12:09 PM ******/
CREATE TYPE [dbo].[AttandanceDetails] AS TABLE(
	[ID] [int] NULL,
	[Status] [numeric](10, 2) NULL,
	[IsExist] [bit] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[EmployeeLeaveDetails]    Script Date: 10/10/2021 4:12:09 PM ******/
CREATE TYPE [dbo].[EmployeeLeaveDetails] AS TABLE(
	[ELID] [int] NULL,
	[EmployeeID] [int] NULL,
	[LeaveTypeID] [int] NULL,
	[MonthlyQuota] [numeric](10, 2) NULL,
	[YearlyQuota] [numeric](10, 2) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[EmployeeSalaryDetails]    Script Date: 10/10/2021 4:12:09 PM ******/
CREATE TYPE [dbo].[EmployeeSalaryDetails] AS TABLE(
	[EmployeeSalaryID] [int] NULL,
	[EmployeeID] [int] NULL,
	[EmployeeTypeID] [int] NULL,
	[SalaryTypeID] [int] NULL,
	[Amount] [numeric](10, 2) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ExamDetails]    Script Date: 10/10/2021 4:12:10 PM ******/
CREATE TYPE [dbo].[ExamDetails] AS TABLE(
	[ExamID] [int] NULL,
	[EvaluationID] [int] NULL,
	[ClassID] [int] NULL,
	[GroupID] [int] NULL,
	[SubjectID] [int] NULL,
	[ExamDate] [date] NULL,
	[StartTime] [time](7) NULL,
	[EndTime] [time](7) NULL,
	[SBranchID] [int] NULL,
	[UserID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[IsApplicable] [bit] NULL,
	[MaxMarks] [numeric](10, 2) NULL,
	[PassMarks] [numeric](10, 2) NULL,
	[IsLocked] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ExamResultDetails]    Script Date: 10/10/2021 4:12:10 PM ******/
CREATE TYPE [dbo].[ExamResultDetails] AS TABLE(
	[ResultID] [int] NULL,
	[ExamID] [int] NULL,
	[StudentID] [int] NULL,
	[MarksScored] [numeric](10, 2) NULL,
	[Grade] [nvarchar](5) NULL,
	[Status] [int] NULL,
	[GradePoints] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ID_Value]    Script Date: 10/10/2021 4:12:10 PM ******/
CREATE TYPE [dbo].[ID_Value] AS TABLE(
	[ID] [int] NULL,
	[Value] [nvarchar](100) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[StudentFeeDetails]    Script Date: 10/10/2021 4:12:11 PM ******/
CREATE TYPE [dbo].[StudentFeeDetails] AS TABLE(
	[CollectionID] [int] NULL,
	[PaymentID] [int] NULL,
	[FeeTypeID] [int] NULL,
	[PayeeID] [int] NULL,
	[Amount] [numeric](10, 2) NULL,
	[DiscPer] [numeric](10, 2) NULL,
	[DiscAmt] [numeric](10, 2) NULL,
	[NetApplicablePayment] [numeric](10, 2) NULL,
	[PaymentRecieved] [numeric](10, 2) NULL,
	[Year] [nvarchar](5) NULL,
	[Month] [int] NULL,
	[PaymentDate] [datetime] NULL,
	[SBranchID] [int] NULL,
	[DuesPaidCount] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[Type_Value]    Script Date: 10/10/2021 4:12:11 PM ******/
CREATE TYPE [dbo].[Type_Value] AS TABLE(
	[Type] [nvarchar](100) NULL,
	[Value] [nvarchar](max) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ut_BulkStudentUpload]    Script Date: 10/10/2021 4:12:11 PM ******/
CREATE TYPE [dbo].[ut_BulkStudentUpload] AS TABLE(
	[Name] [nvarchar](50) NULL,
	[RollNo] [nvarchar](50) NULL,
	[SchoolUID] [nvarchar](500) NULL,
	[BloodGroup] [nvarchar](5) NULL,
	[DOB] [date] NULL,
	[DOJ] [date] NULL,
	[AadharCardNo] [nvarchar](50) NULL,
	[FatherName] [nvarchar](500) NULL,
	[MotherName] [nvarchar](500) NULL,
	[GuardianMobileNo] [nvarchar](15) NULL,
	[MiniAddress] [nvarchar](max) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ut_BulkStudentUploadEnt]    Script Date: 10/10/2021 4:12:12 PM ******/
CREATE TYPE [dbo].[ut_BulkStudentUploadEnt] AS TABLE(
	[Name] [nvarchar](50) NULL,
	[RollNo] [nvarchar](50) NULL,
	[SchoolUID] [nvarchar](500) NULL,
	[BloodGroup] [nvarchar](5) NULL,
	[Gender] [int] NULL,
	[DOB] [date] NULL,
	[DOJ] [date] NULL,
	[AadharCardNo] [nvarchar](50) NULL,
	[FatherName] [nvarchar](500) NULL,
	[FatherMobileNo] [nvarchar](15) NULL,
	[FatherEmailID] [nvarchar](50) NULL,
	[MotherName] [nvarchar](500) NULL,
	[MotherMobileNo] [nvarchar](15) NULL,
	[MotherEmailID] [nvarchar](50) NULL,
	[GuardianName] [nvarchar](500) NULL,
	[GuardianMobileNo] [nvarchar](15) NULL,
	[GuardianEmail] [nvarchar](50) NULL,
	[MiniAddress] [nvarchar](max) NULL,
	[ReligionID] [int] NULL,
	[Category] [int] NULL,
	[QuotaID] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ut_DeviceLogs]    Script Date: 10/10/2021 4:12:12 PM ******/
CREATE TYPE [dbo].[ut_DeviceLogs] AS TABLE(
	[DeviceLogId] [int] NULL,
	[DownloadDate] [datetime] NULL,
	[DeviceId] [int] NOT NULL,
	[UserId] [nvarchar](50) NOT NULL,
	[LogDate] [datetime] NOT NULL,
	[Direction] [nvarchar](255) NULL,
	[AttDirection] [nvarchar](255) NULL,
	[C1] [nvarchar](255) NULL,
	[C2] [nvarchar](255) NULL,
	[C3] [nvarchar](255) NULL,
	[C4] [nvarchar](255) NULL,
	[C5] [nvarchar](255) NULL,
	[C6] [nvarchar](255) NULL,
	[C7] [nvarchar](255) NULL,
	[WorkCode] [nvarchar](255) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ut_EmployeeBio]    Script Date: 10/10/2021 4:12:12 PM ******/
CREATE TYPE [dbo].[ut_EmployeeBio] AS TABLE(
	[EmployeeBioId] [int] NULL,
	[EmployeeId] [int] NULL,
	[BioType] [nvarchar](50) NULL,
	[BioVersion] [nvarchar](50) NULL,
	[BioId] [int] NULL,
	[Bio] [ntext] NULL,
	[OpType] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ut_EmployeeLeaveDetails]    Script Date: 10/10/2021 4:12:13 PM ******/
CREATE TYPE [dbo].[ut_EmployeeLeaveDetails] AS TABLE(
	[LDID] [int] NULL,
	[LeaveTypeID] [int] NULL,
	[Applied] [numeric](10, 2) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ut_EmpSalaryProcessingDetails]    Script Date: 10/10/2021 4:12:13 PM ******/
CREATE TYPE [dbo].[ut_EmpSalaryProcessingDetails] AS TABLE(
	[SPDID] [int] NULL,
	[SPMID] [int] NULL,
	[EmployeeID] [int] NULL,
	[SalaryCategoryID] [int] NULL,
	[RefID] [int] NULL,
	[Amount] [numeric](10, 2) NULL,
	[Paid] [numeric](10, 2) NULL,
	[IsDuePaid] [int] NULL,
	[SMonth] [int] NULL,
	[SYear] [int] NULL,
	[Status] [int] NULL,
	[Title] [nvarchar](50) NULL,
	[Type] [int] NULL,
	[OpType] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ut_ExpenceBills]    Script Date: 10/10/2021 4:12:13 PM ******/
CREATE TYPE [dbo].[ut_ExpenceBills] AS TABLE(
	[BillID] [int] NULL,
	[ExpenceID] [int] NULL,
	[BillFor] [nvarchar](500) NULL,
	[ImageName] [nvarchar](100) NULL,
	[OpType] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ut_ExpenceDetails]    Script Date: 10/10/2021 4:12:13 PM ******/
CREATE TYPE [dbo].[ut_ExpenceDetails] AS TABLE(
	[CollectionID] [int] NULL,
	[ExpenceID] [int] NULL,
	[Quantity] [numeric](10, 2) NULL,
	[Rate] [numeric](10, 2) NULL,
	[Amount] [numeric](10, 2) NULL,
	[ItemName] [nvarchar](100) NULL,
	[OpType] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ut_FeeDiscountRequestDetails]    Script Date: 10/10/2021 4:12:14 PM ******/
CREATE TYPE [dbo].[ut_FeeDiscountRequestDetails] AS TABLE(
	[DiscRequestID] [int] NULL,
	[DiscDetailID] [int] NULL,
	[FeeTypeID] [int] NULL,
	[NetApplicablePayment] [numeric](18, 2) NULL,
	[Amount] [numeric](18, 2) NULL,
	[ApprovedAmount] [numeric](18, 2) NULL,
	[OpType] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ut_FeeStructureDetail]    Script Date: 10/10/2021 4:12:14 PM ******/
CREATE TYPE [dbo].[ut_FeeStructureDetail] AS TABLE(
	[ID] [int] NULL,
	[ClassID] [int] NULL,
	[GroupID] [int] NULL,
	[FeeTypeID] [int] NULL,
	[FeeAmount] [numeric](10, 2) NULL,
	[SBranchID] [int] NULL,
	[UserID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ut_GalleryImages]    Script Date: 10/10/2021 4:12:14 PM ******/
CREATE TYPE [dbo].[ut_GalleryImages] AS TABLE(
	[GalleryImageID] [int] NULL,
	[GalleryID] [int] NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NULL,
	[ImagePath] [nvarchar](max) NULL,
	[ImageDate] [date] NULL,
	[OpType] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ut_IDArray]    Script Date: 10/10/2021 4:12:15 PM ******/
CREATE TYPE [dbo].[ut_IDArray] AS TABLE(
	[ID] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ut_LibraryIssueBooks]    Script Date: 10/10/2021 4:12:15 PM ******/
CREATE TYPE [dbo].[ut_LibraryIssueBooks] AS TABLE(
	[BookIssueID] [int] NULL,
	[BookID] [int] NULL,
	[CopyID] [int] NULL,
	[IssueDays] [int] NULL,
	[IssueDate] [date] NULL,
	[Remark] [nvarchar](500) NULL,
	[LibraryIssueID] [int] NULL,
	[Status] [int] NULL,
	[OpType] [int] NULL,
	[Extra1] [nvarchar](500) NULL,
	[Extra2] [nvarchar](500) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ut_Name_ID_Utility]    Script Date: 10/10/2021 4:12:15 PM ******/
CREATE TYPE [dbo].[ut_Name_ID_Utility] AS TABLE(
	[ID] [int] NULL,
	[Name] [nvarchar](max) NULL,
	[Extra1] [nvarchar](max) NULL,
	[Extra2] [nvarchar](max) NULL,
	[Extra3] [nvarchar](max) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ut_NotificationRecievers]    Script Date: 10/10/2021 4:12:16 PM ******/
CREATE TYPE [dbo].[ut_NotificationRecievers] AS TABLE(
	[NotificationRecieverID] [int] NULL,
	[NotificationID] [int] NULL,
	[RecieverID] [int] NULL,
	[RecieverType] [int] NULL,
	[NotificationText] [nvarchar](max) NULL,
	[DeviceToken] [nvarchar](500) NULL,
	[MasterID] [int] NULL,
	[OpType] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ut_ParentDiary]    Script Date: 10/10/2021 4:12:16 PM ******/
CREATE TYPE [dbo].[ut_ParentDiary] AS TABLE(
	[TeacherID] [int] NULL,
	[TeacherType] [int] NULL,
	[StudentID] [int] NULL,
	[PBDate] [datetime] NULL,
	[Title] [nvarchar](500) NULL,
	[Description] [nvarchar](max) NULL,
	[Priority] [int] NULL,
	[IsRead] [int] NULL,
	[MasterID] [int] NULL,
	[ClassID] [int] NULL,
	[SectionID] [int] NULL,
	[SubjectID] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ut_PerformanceParameterValues]    Script Date: 10/10/2021 4:12:16 PM ******/
CREATE TYPE [dbo].[ut_PerformanceParameterValues] AS TABLE(
	[ParamValID] [int] NULL,
	[EvaluationID] [int] NULL,
	[StudentSessionID] [int] NULL,
	[ParamID] [int] NULL,
	[ParamKey] [nvarchar](500) NULL,
	[ParamValue] [nvarchar](500) NULL,
	[Grade] [nvarchar](50) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ut_QuickStudentEdit]    Script Date: 10/10/2021 4:12:16 PM ******/
CREATE TYPE [dbo].[ut_QuickStudentEdit] AS TABLE(
	[StudentID] [int] NULL,
	[StudentSessionUID] [int] NULL,
	[ParentID] [int] NULL,
	[SchoolUID] [nvarchar](100) NULL,
	[RollNo] [nvarchar](50) NULL,
	[DOB] [date] NULL,
	[DOJ] [date] NULL,
	[FatherMobileNo] [nvarchar](15) NULL,
	[MotherMobileNo] [nvarchar](15) NULL,
	[AadharCardNo] [nvarchar](50) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ut_QuotaDiscountDetail]    Script Date: 10/10/2021 4:12:17 PM ******/
CREATE TYPE [dbo].[ut_QuotaDiscountDetail] AS TABLE(
	[ID] [int] NULL,
	[QuotaID] [int] NULL,
	[FeeTypeID] [int] NULL,
	[DiscPer] [numeric](10, 2) NULL,
	[SBranchID] [int] NULL,
	[UserID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ut_SalaryStructureDetail]    Script Date: 10/10/2021 4:12:17 PM ******/
CREATE TYPE [dbo].[ut_SalaryStructureDetail] AS TABLE(
	[ETypeSTypeID] [int] NULL,
	[EmployeeTypeID] [int] NULL,
	[SalaryTypeID] [int] NULL,
	[Amount] [numeric](10, 2) NULL,
	[SBranchID] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ut_SMSConfigurationParams]    Script Date: 10/10/2021 4:12:17 PM ******/
CREATE TYPE [dbo].[ut_SMSConfigurationParams] AS TABLE(
	[SMSParamID] [int] NULL,
	[SMSConfigID] [int] NULL,
	[ParamType] [int] NULL,
	[ParamName] [nvarchar](50) NULL,
	[ParamValue] [nvarchar](50) NULL,
	[OpType] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ut_SMSProcessingLog]    Script Date: 10/10/2021 4:12:18 PM ******/
CREATE TYPE [dbo].[ut_SMSProcessingLog] AS TABLE(
	[RecID] [int] NULL,
	[SMSID] [int] NULL,
	[SMSType] [int] NULL,
	[RecieverType] [int] NULL,
	[RecieverID] [int] NULL,
	[MobileNumber] [nvarchar](50) NULL,
	[ReasonFailure] [nvarchar](max) NULL,
	[SMSDateTime] [datetime] NULL,
	[Status] [int] NULL,
	[Content_id] [nvarchar](50) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ut_StockTransactionDetails]    Script Date: 10/10/2021 4:12:18 PM ******/
CREATE TYPE [dbo].[ut_StockTransactionDetails] AS TABLE(
	[STDID] [int] NULL,
	[STID] [int] NULL,
	[STType] [int] NULL,
	[ProductID] [int] NULL,
	[Quantity] [numeric](10, 2) NULL,
	[MRP] [numeric](10, 2) NULL,
	[Cost] [numeric](10, 2) NULL,
	[SBranchID] [int] NULL,
	[SGST] [numeric](5, 2) NULL,
	[CGST] [numeric](5, 2) NULL,
	[IGST] [numeric](5, 2) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ut_StudentFeeDetails]    Script Date: 10/10/2021 4:12:18 PM ******/
CREATE TYPE [dbo].[ut_StudentFeeDetails] AS TABLE(
	[SFID] [int] NULL,
	[StudentID] [int] NULL,
	[FeeTypeID] [int] NULL,
	[SessionID] [int] NULL,
	[FeeAmount] [numeric](10, 2) NULL,
	[IsApplicable] [int] NULL,
	[OpType] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ut_StudentSession]    Script Date: 10/10/2021 4:12:19 PM ******/
CREATE TYPE [dbo].[ut_StudentSession] AS TABLE(
	[StudentID] [int] NULL,
	[QuotaID] [int] NULL,
	[FeePaymentMode] [int] NULL,
	[HouseID] [int] NULL,
	[Status] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ut_StudentSLCSessionDetails]    Script Date: 10/10/2021 4:12:19 PM ******/
CREATE TYPE [dbo].[ut_StudentSLCSessionDetails] AS TABLE(
	[StudentSessionUID] [int] NULL,
	[DateOfPromotion] [date] NULL,
	[DateOfRemoval] [date] NULL,
	[ConductWork] [nvarchar](500) NULL,
	[Work] [nvarchar](500) NULL,
	[CauseOfRemoval] [nvarchar](500) NULL,
	[IsLeft] [int] NULL
)
GO
