GO
/****** Object:  UserDefinedTableType [dbo].[ut_LibraryIssueBooks]    Script Date: 7/18/2019 10:42:28 PM ******/
CREATE TYPE [dbo].[ut_LibraryIssueBooks] AS TABLE(
	[BookIssueID] [int] NULL,
	[BookID] [int] NULL,
	[CopyID] [int] NULL,
	[IssueDays] [int] NULL,
	[IssueDate] [date] NULL,
	[Remark] [nvarchar](500) NULL,
	[LibraryIssueID] [int] NULL,
	[Status] [int] NULL,
	[OpType] [int] NULL,
	[Extra1] [nvarchar](500) NULL,
	[Extra2] [nvarchar](500) NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[GetBookCategoryNames]    Script Date: 7/18/2019 10:42:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create FUNCTION [dbo].[GetBookCategoryNames]
(
	@Categories varchar(50)
)
RETURNS nvarchar(max)
AS
begin
		Declare @Names nvarchar(max)
	if(@Categories is null or @Categories='0')
	begin
		set @Names= 'All Categories'
	end
	else
	begin
		declare @CategoriNames NVARCHAR(MAX)
		if(left(@Categories,1)<>',')
		begin
			set @Categories=','+@Categories+','
		end
		DECLARE @Part NVARCHAR(MAX)
		DECLARE @IND    INT
		SET @IND = CHARINDEX(',',@Categories)
	
		set @CategoriNames=''

		DECLARE @EIND INT set @EIND = 0
		WHILE(@IND != LEN(@Categories))
		BEGIN
			declare @CategoriName nvarchar(max)
			SET  @EIND = ISNULL(((CHARINDEX(',', @Categories, @IND + 1)) - @IND - 1), 0)
			SELECT @Part=(SUBSTRING(@Categories, (@IND  + 1),  @EIND))
			SELECT @IND = ISNULL(CHARINDEX(',', @Categories, @IND + 1), 0)
			Select @CategoriName=Name from BookCategory where ID=CONVERT(int,@Part)
			Set @CategoriNames=@CategoriNames+','+@CategoriName
		END
		set @Names= substring(@CategoriNames,2,len(@CategoriNames)-1)
	end
	Return @Names
end
GO
/****** Object:  Table [dbo].[AdmissionEnquiryFollowups]    Script Date: 7/18/2019 10:42:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdmissionEnquiryFollowups](
	[FollowupID] [int] IDENTITY(1,1) NOT NULL,
	[EnquiryID] [int] NULL,
	[FollowupBy] [int] NULL,
	[FollowupByName] [nvarchar](50) NULL,
	[Remark] [nvarchar](max) NULL,
	[FDate] [datetime] NULL,
	[Status] [int] NULL,
	[Possibility] [int] NULL,
	[NextFollowupDate] [datetime] NULL,
	[CreatedDate] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdmissionEnquiryMaster]    Script Date: 7/18/2019 10:42:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdmissionEnquiryMaster](
	[EnquiryID] [int] IDENTITY(1,1) NOT NULL,
	[EDate] [datetime] NULL,
	[FatherName] [nvarchar](50) NULL,
	[MotherName] [nvarchar](50) NULL,
	[FatherMobileNo] [nvarchar](50) NULL,
	[MotherMobileNo] [nvarchar](50) NULL,
	[FatherEmailID] [nvarchar](50) NULL,
	[MotherEmailID] [nvarchar](50) NULL,
	[FOccupation] [nvarchar](50) NULL,
	[MOccupation] [nvarchar](50) NULL,
	[FamilyIncome] [numeric](18, 2) NULL,
	[Address] [nvarchar](max) NULL,
	[StudentName] [nvarchar](50) NULL,
	[AppliedForSession] [int] NULL,
	[AppliedForClass] [int] NULL,
	[CurrentClass] [int] NULL,
	[ESource] [int] NULL,
	[CurrentSchool] [nvarchar](50) NULL,
	[CurrentSchoolAddress] [nvarchar](max) NULL,
	[ReasonForChange] [nvarchar](max) NULL,
	[Gender] [bit] NULL,
	[Nationality] [nvarchar](50) NULL,
	[CurrentEducationSystem] [nvarchar](50) NULL,
	[StudentDOB] [date] NULL,
	[EStatus] [int] NULL,
	[EPossibility] [int] NULL,
	[NextFollowUpDate] [datetime] NULL,
	[SBranchID] [int] NULL,
	[UserID] [int] NULL,
	[CreatedDate] [date] NULL,
	[StudentID] [int] NULL,
	[PaymentStatus] [int] NULL,
	[PaymentDetails] [nvarchar](500) NULL,
	[AssignedTo] [int] NULL,
	[EPortal] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookCategory]    Script Date: 7/18/2019 10:42:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookCategory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[SBranchID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookCopyDetail]    Script Date: 7/18/2019 10:42:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookCopyDetail](
	[CopyID] [int] IDENTITY(1,1) NOT NULL,
	[BookID] [int] NULL,
	[BarCode] [nvarchar](50) NULL,
	[RFID] [nvarchar](50) NULL,
	[AStatus] [int] NULL,
	[Code] [nvarchar](20) NULL,
 CONSTRAINT [PK_BookCopyDetail] PRIMARY KEY CLUSTERED 
(
	[CopyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookMaster]    Script Date: 7/18/2019 10:42:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookMaster](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](500) NULL,
	[Publisher] [nvarchar](500) NULL,
	[BayID] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[Copies] [int] NULL,
	[Status] [bit] NULL,
	[Price] [numeric](10, 2) NULL,
	[Author] [nvarchar](100) NULL,
	[Image] [nvarchar](500) NULL,
	[CategoryIDs] [nvarchar](50) NULL,
	[ClassesIDs] [nvarchar](50) NULL,
	[ISBN] [nvarchar](50) NULL,
	[ISBN13] [nvarchar](50) NULL,
	[SBranchID] [int] NULL,
	[BookCode] [nvarchar](50) NULL,
	[IssueDays] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportantContacts]    Script Date: 7/18/2019 10:42:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportantContacts](
	[ICID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Contact] [nvarchar](50) NULL,
	[SBranchID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LibraryIssueBooks]    Script Date: 7/18/2019 10:42:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LibraryIssueBooks](
	[BookIssueID] [int] IDENTITY(1,1) NOT NULL,
	[BookID] [int] NULL,
	[CopyID] [int] NULL,
	[IssueDays] [int] NULL,
	[IssueDate] [date] NULL,
	[Remark] [nvarchar](500) NULL,
	[LibraryIssueID] [int] NULL,
	[Status] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LibraryIssueRegister]    Script Date: 7/18/2019 10:42:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LibraryIssueRegister](
	[IssueID] [int] IDENTITY(1,1) NOT NULL,
	[BorrowerType] [int] NULL,
	[BorrowerID] [int] NULL,
	[ClassID] [int] NULL,
	[IssueDate] [date] NULL,
	[IssuedDays] [int] NULL,
	[LibraryID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[Remark] [nvarchar](500) NULL,
	[Status] [int] NULL,
	[SessionID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LibraryMaster]    Script Date: 7/18/2019 10:42:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LibraryMaster](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Status] [bit] NULL,
	[Type] [int] NULL,
	[MasterID] [int] NULL,
	[Detail] [nvarchar](500) NULL,
	[SBranchID] [int] NULL,
 CONSTRAINT [PK_LibraryMaster] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToDoList]    Script Date: 7/18/2019 10:42:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToDoList](
	[ToDoID] [int] IDENTITY(1,1) NOT NULL,
	[Priority] [int] NULL,
	[ScheduledDateTime] [datetime] NULL,
	[Status] [int] NULL,
	[Details] [nvarchar](max) NULL,
	[UserID] [int] NULL,
	[SBranchID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UserType] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdmissionEnquiryMaster] ADD  CONSTRAINT [DF_AdmissionEnquiryMaster_EPortal]  DEFAULT ((0)) FOR [EPortal]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteBook]    Script Date: 7/18/2019 10:42:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[sp_DeleteBook]
(
@BookID int
)
AS
BEGIN
	Delete from BookMaster where BookID=@BookID
END














GO
/****** Object:  StoredProcedure [dbo].[sp_GetAdmissionEnquiries]    Script Date: 7/18/2019 10:42:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[sp_GetAdmissionEnquiries]
(
	@UserID int,
	@StartDate date,
	@EndDate	date,
	@SessionID	int,
	@ClassID	int,
	@SBranchID	int,
	@EStatus int,
	@EPossibility int
)
as 
begin 
	if(@SBranchID=0)
	begin
		Select '('+isnull(BM.BranchName,'')+') '+ CM.ClassName as Name, ClassID as ID
		from ClassMaster CM left outer join SBranchMaster BM on CM.SBranchID=BM.SBranchID

		Select '('+isnull(BM.BranchName,'')+') '+ SM.SessionName as Name, SessionID as ID,SessionStatus as Extra1
		from SessionMaster SM left outer join SBranchMaster BM on SM.SBranchID=BM.SBranchID
	end
	else
	begin
		Select ClassName as Name, ClassID as ID
		from ClassMaster CM where  CM.SBranchID=@SBranchID

		Select SM.SessionName as Name, SessionID as ID,SessionStatus as Extra1
		from SessionMaster SM where SM.SBranchID=@SBranchID
	end
	SELECT 
	[EnquiryID] ,[EDate]  ,[FatherName],[MotherName],[FatherMobileNo],[MotherMobileNo],[FatherEmailID],[MotherEmailID],
	FOccupation,MOccupation,FamilyIncome,[Address],[StudentName]
	,[AppliedForSession],AssignedTo,
	(Select SessionName from SessionMaster SM where SM.SessionID=AEM.AppliedForSession) as SessionName
	,[AppliedForClass],
	(Select ClassName from ClassMaster SM where SM.ClassID=AEM.AppliedForClass) as ClassName,
	(Select ClassName from ClassMaster SM where SM.ClassID=AEM.[CurrentClass]) as CurrentClassName
	,[CurrentClass],[ESource],[CurrentSchool],[CurrentSchoolAddress],[ReasonForChange],[Gender],[Nationality],[CurrentEducationSystem]
	,[StudentDOB],[EStatus],[EPossibility],[NextFollowUpDate],[SBranchID],[UserID],
	(Select EmployeeName from EmployeeMaster EM where EM.EmployeeID=AEM.AssignedTo) as ReciptionistName
	,[CreatedDate],[StudentID],[PaymentStatus],[PaymentDetails],
	(Select count(*) from AdmissionEnquiryFollowups AEF where AEF.EnquiryID=AEM.EnquiryID) as Followups
	FROM [dbo].[AdmissionEnquiryMaster] AEM where isnull(nullif(@ClassID,0),AppliedForClass)=AppliedForClass and isnull(nullif(@SessionID,0),AppliedForSession)=AppliedForSession
	and EDate between @StartDate and @EndDate and isnull(nullif(@UserID,0),isnull(AssignedTo,0))=isnull(AssignedTo,0) and isnull(nullif(@SBranchID,0),SBranchID)=SBranchID
	and isnull(nullif(@EPossibility,0),[EPossibility])=[EPossibility] and isnull(nullif(@EStatus,0),EStatus)=EStatus
	order by [NextFollowUpDate] 

	select EmployeeID as ID,EmployeeName as Name from EmployeeMaster where DesignationID=11 and Status=1
end

GO
/****** Object:  StoredProcedure [dbo].[sp_GetAdmissionEnquiryDetails]    Script Date: 7/18/2019 10:42:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_GetAdmissionEnquiryDetails]
(
	@EnquiryID	int,
	@SBranchID	int
)
as 
begin 
	if(@SBranchID=0)
	begin
		Select '('+isnull(BM.BranchName,'')+') '+ CM.ClassName as Name, ClassID as ID
		from ClassMaster CM left outer join SBranchMaster BM on CM.SBranchID=BM.SBranchID

		Select '('+isnull(BM.BranchName,'')+') '+ SM.SessionName as Name, SessionID as ID,SessionStatus as Extra1
		from SessionMaster SM left outer join SBranchMaster BM on SM.SBranchID=BM.SBranchID
	end
	else
	begin
		Select ClassName as Name, ClassID as ID
		from ClassMaster CM where  CM.SBranchID=@SBranchID

		Select SM.SessionName as Name, SessionID as ID,SessionStatus as Extra1
		from SessionMaster SM where SM.SBranchID=@SBranchID
	end
	SELECT 
	[EnquiryID] ,[EDate]  ,[FatherName],[MotherName],[FatherMobileNo],[MotherMobileNo],[FatherEmailID],[MotherEmailID],
	FOccupation,MOccupation,FamilyIncome,[Address],[StudentName]
	,[AppliedForSession],AssignedTo,
	(Select SessionName from SessionMaster SM where SM.SessionID=AEM.AppliedForSession) as SessionName
	,[AppliedForClass],
	(Select ClassName from ClassMaster SM where SM.ClassID=AEM.AppliedForClass) as ClassName,
	
	(Select ClassName from ClassMaster SM where SM.ClassID=AEM.[CurrentClass]) as CurrentClassName
	,[CurrentClass],[ESource],[CurrentSchool],[CurrentSchoolAddress],[ReasonForChange],[Gender],[Nationality],[CurrentEducationSystem]
	,[StudentDOB],[EStatus],[EPossibility],[NextFollowUpDate],[SBranchID],[UserID],
	(Select EmployeeName from EmployeeMaster EM where EM.EmployeeID=AEM.AssignedTo) as ReciptionistName
	,[CreatedDate],[StudentID],[PaymentStatus],[PaymentDetails],
	(Select count(*) from AdmissionEnquiryFollowups AEF where AEF.EnquiryID=AEM.EnquiryID) as Followups
	FROM [dbo].[AdmissionEnquiryMaster] AEM where EnquiryID=@EnquiryID

	select EmployeeID as ID,EmployeeName as Name from EmployeeMaster where DesignationID=-3 and Status=1
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAdmissionEnquiryFollowups]    Script Date: 7/18/2019 10:42:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_GetAdmissionEnquiryFollowups]
(
	@EnquiryID int
)
as 
begin 
	SELECT [FollowupID],[EnquiryID],[FollowupBy],[FollowupByName],[Remark],[FDate],[Status],[Possibility],[NextFollowupDate],[CreatedDate],
	(Case when FollowupBy<>0 then (Select EmployeeName from EmployeeMaster where EmployeeID=FollowupBy) else [FollowupByName] end) as [FollowupByName]
	FROM [AdmissionEnquiryFollowups] where EnquiryID=@EnquiryID 
	order by FDate desc
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBookByBarCode]    Script Date: 7/18/2019 10:42:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[sp_GetBookByBarCode]
(
@BarCode nvarchar(100),
@SBranchID int
)
AS
BEGIN
	Select BCD.BookID,BCD.CopyID,BM.IssueDays,BM.[Status],
	BCD.BarCode,BCD.RFID,BCD.Code, BM.Title,BM.[Image]
	from [dbo].[BookCopyDetail] BCD left outer join [dbo].[BookMaster] BM on BCD.BookID=BM.BookID
	where BarCode=@BarCode
End



	
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBookCategories]    Script Date: 7/18/2019 10:42:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[sp_GetBookCategories]
(
@SBranchID int
)
AS
BEGIN
	Select ID,Name,
	(Select count(*) from BookMaster where CategoryIDs like '%,'+cast(ID as nvarchar(10))+',%') as Extra1
	from BookCategory where SBranchID=@SBranchID
END














GO
/****** Object:  StoredProcedure [dbo].[sp_GetBookCopies]    Script Date: 7/18/2019 10:42:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[sp_GetBookCopies]
(
@BookID int
)
AS
BEGIN
	Select CopyID,BarCode,RFID,AStatus,Code from BookCopyDetail where BookID=@BookID
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetBookDetails]    Script Date: 7/18/2019 10:42:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_GetBookDetails]
(
@BookID int,
@SBranchID int
)
AS
BEGIN
	declare @BayID int
	declare @LibraryID int
	declare @FloorID int
	declare @BlockID int
	Select BookID,Title,[Description],Copies,[Status],Price,Publisher,Author,BayID,[Image],BookCode,IssueDays,
	isnull(CategoryIDs,',0,') as CategoryIDs,isnull(ClassesIDs,',0,') as ClassesIDs,ISBN,ISBN13,[dbo].[GetClassNames](ClassesIDs) as Classes,
	dbo.GetBookCategoryNames(CategoryIDs) as CategoryNames
	from BookMaster where BookID=@BookID
	select @BayID=BayID from BookMaster where BookID=@BookID

	Select ID,name from BookCategory where SBranchID=@SBranchID

	Select ClassID as ID, ClassName as Name from ClassMaster where SBranchID=@SBranchID

	if(@BayID=0)
	begin	
		select @BayID=min(ID) from  LibraryMaster where SBranchID=@SBranchID and [Type]=3
		select @BlockID=MasterID from  LibraryMaster where ID=@BayID
		select @FloorID=MasterID from  LibraryMaster where ID=@BlockID
		select @LibraryID=MasterID from  LibraryMaster where ID=@FloorID
		
		--Library
		select ID,Name from LibraryMaster where SBranchID=@SBranchID and [Type]=0
		--Floors
		select ID,Name from LibraryMaster where SBranchID=@SBranchID and [Type]=1 and MasterID=@LibraryID
		--Blocks
		select ID,Name from LibraryMaster where SBranchID=@SBranchID and [Type]=2 and MasterID=@FloorID
		--Bays
		select ID,Name from LibraryMaster where SBranchID=@SBranchID and [Type]=3 and MasterID=@BlockID
	end
	else
	begin	
		select @BlockID=MasterID from  LibraryMaster where ID=@BayID
		select @FloorID=MasterID from  LibraryMaster where ID=@BlockID
		select @LibraryID=MasterID from  LibraryMaster where ID=@FloorID
		
		--Library
		select ID,Name from LibraryMaster where SBranchID=@SBranchID and [Type]=0
		--Floors
		select ID,Name from LibraryMaster where SBranchID=@SBranchID and [Type]=1 and MasterID=@LibraryID
		--Blocks
		select ID,Name from LibraryMaster where SBranchID=@SBranchID and [Type]=2 and MasterID=@FloorID
		--Bays
		select ID,Name from LibraryMaster where SBranchID=@SBranchID and [Type]=3 and MasterID=@BlockID
	end

	select isnull(@LibraryID,0)
	select isnull(@FloorID,0)
	select isnull(@BlockID,0)
	select isnull(@BayID,0)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBookForIssue]    Script Date: 7/18/2019 10:42:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_GetBookForIssue]
(
@Text nvarchar(100),
@SBranchID int
)
AS
BEGIN
	Select cast(BCD.BookID as nvarchar(10))+'^'+cast(BCD.CopyID as nvarchar(10))+'^'+cast(BM.IssueDays as nvarchar(10))+'^'+
	isnull(BCD.BarCode,'')+'^'+isnull(BCD.RFID,'')+'^'+isnull(BCD.Code,'')+'^'+isnull(BM.[Image],'') as id,'('+BCD.Code+') '+ BM.Title as [text]
	from [dbo].[BookCopyDetail] BCD right outer join [dbo].[BookMaster] BM on BCD.BookID=BM.BookID and BCD.CopyID not in (select CopyID from LibraryIssueBooks where [Status]=0 and BookID=BM.BookID)
	where BM.Title like '%'+@Text+'%' or BarCode like '%'+@Text+'%'
End



	
GO
/****** Object:  StoredProcedure [dbo].[sp_GetConvertedEnquieirsForAdmission]    Script Date: 7/18/2019 10:42:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create proc [dbo].[sp_GetConvertedEnquieirsForAdmission]
(
@SBranchID int,
@EStatus int
)
AS
BEGIN
	SELECT [EnquiryID],[FatherName],[MotherName],[FatherMobileNo],[MotherMobileNo],[FatherEmailID],[MotherEmailID],[FOccupation],[MOccupation],[FamilyIncome]
	,[Address],[StudentName],[AppliedForSession],[AppliedForClass],[CurrentClass],[ESource],[CurrentSchool],[CurrentSchoolAddress],[ReasonForChange],[Gender]
	,[Nationality],[CurrentEducationSystem],[StudentDOB],[EStatus],[EPossibility],[NextFollowUpDate],[SBranchID],[UserID],[CreatedDate],[StudentID],[PaymentStatus]
	,[PaymentDetails],[AssignedTo],[EPortal]
	  FROM [AdmissionEnquiryMaster] where EStatus=@EStatus and SBranchID=@SBranchID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetHostelsForAdmission]    Script Date: 7/18/2019 10:42:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create proc [dbo].[sp_GetHostelsForAdmission]
(
@SBranchID int
)
AS
BEGIN
	
		Select ID,Name from HostelMaster BM where [Status]=1 and SBranchID=@SBranchID
	
END














GO
/****** Object:  StoredProcedure [dbo].[sp_GetLibraryBooks]    Script Date: 7/18/2019 10:42:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_GetLibraryBooks]
(
@SBranchID int,
@ClassID int,
@CategoryID int
)
AS
BEGIN
	if(@ClassID=0 and @CategoryID=0)
	begin
		Select BookID,Title,[Description],Copies,[Status],Price,Publisher,Author,BayID,[Image],BookCode,IssueDays,
		CategoryIDs,ClassesIDs,ISBN,ISBN13,[dbo].[GetClassNames](ClassesIDs) as Classes,
		dbo.GetBookCategoryNames(CategoryIDs) as CategoryNames
		from BookMaster where SBranchID=@SBranchID
	end
	else if(@ClassID<>0)
	begin
		if(@CategoryID=0)
		begin
			Select BookID,Title,[Description],Copies,[Status],Price,Publisher,Author,BayID,[Image],BookCode,IssueDays,
			CategoryIDs,ClassesIDs,ISBN,ISBN13,[dbo].[GetClassNames](ClassesIDs) as Classes,
			dbo.GetBookCategoryNames(CategoryIDs) as CategoryNames
			from BookMaster where SBranchID=@SBranchID and ClassesIDs like '%,'+cast(@ClassID as nvarchar(3))+',%'
		end
		else if(@CategoryID<>0)
		begin
			Select BookID,Title,[Description],Copies,[Status],Price,Publisher,Author,BayID,[Image],BookCode,IssueDays,
			CategoryIDs,ClassesIDs,ISBN,ISBN13,[dbo].[GetClassNames](ClassesIDs) as Classes,
			dbo.GetBookCategoryNames(CategoryIDs) as CategoryNames
			from BookMaster where SBranchID=@SBranchID and ClassesIDs like '%,'+cast(@ClassID as nvarchar(3))+',%'
			and CategoryIDs like '%,'+cast(@CategoryID as nvarchar(3))+',%'
		end
	end
	else if(@CategoryID<>0)
	begin		
		Select BookID,Title,[Description],Copies,[Status],Price,Publisher,Author,BayID,[Image],BookCode,IssueDays,
		CategoryIDs,ClassesIDs,ISBN,ISBN13,[dbo].[GetClassNames](ClassesIDs) as Classes,
		dbo.GetBookCategoryNames(CategoryIDs) as CategoryNames
		from BookMaster where SBranchID=@SBranchID and CategoryIDs like '%,'+cast(@CategoryID as nvarchar(3))+',%'
	end

	Select ID,name from BookCategory where SBranchID=@SBranchID

	Select ClassID as ID, ClassName as Name from ClassMaster where SBranchID=@SBranchID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLibraryDetailList]    Script Date: 7/18/2019 10:42:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create proc [dbo].[sp_GetLibraryDetailList]
(
@ID int
)
AS
BEGIN
	Select ID,Name from LibraryMaster where MasterID=@ID
END














GO
/****** Object:  StoredProcedure [dbo].[sp_GetLibraryDetails]    Script Date: 7/18/2019 10:42:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[sp_GetLibraryDetails]
(
@MasterID int,
@SBranchID int,
@Type int
)
AS
BEGIN
	if(@Type<>2)
	begin
		Select ID,Name,MasterID,[Status],[Type],Detail,
		(Select Count(*) from LibraryMaster LMT where LMT.MasterID=LM.ID) as [Count]
		 from LibraryMaster LM where MasterID=@MasterID and SBranchID=@SBranchID
	end
	else
	begin
		Select ID,Name,MasterID,[Status],[Type],Detail,
		(Select Count(*) from BookMaster LMT where LMT.BayID=LM.ID) as [Count]
		 from LibraryMaster LM where MasterID=@MasterID and SBranchID=@SBranchID
	end
END














GO
/****** Object:  StoredProcedure [dbo].[sp_GetLibraryIssueRegister]    Script Date: 7/18/2019 10:42:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_GetLibraryIssueRegister]
(
@SBranchID int,
@LibraryID int,
@SessionID int,
@StartDate date,
@EndDate date,
@Status int,
@BorrowerType int
)
AS
BEGIN
if(@SessionID=0)
begin
	select @SessionID=SessionID from SessionMaster where SBranchID=@SBranchID and SessionStatus=1
end
If(@LibraryID=0)
begin
	Select @LibraryID=Min(ID) from LibraryMaster where SBranchID=@SBranchID and Type=0
end
if(@Status=-1)
begin
	if(@BorrowerType=-1)
	begin
		select IssueID,BorrowerType,
		(case when BorrowerType=0 then (Select EmployeeName from EmployeeMaster where EmployeeID=BorrowerID) else
		(select Name from v_StudentCurrentClassName where StudentID=BorrowerID and SessionID=@SessionID) end) as BorrowerName,
		ClassID,[IssueDate],[IssuedDays],Remark,
		(Select Count(*) from [LibraryIssueBooks]where [LibraryIssueID]=IssueID and Status=1) as ReturnedBooks,
		(Select Count(*) from [LibraryIssueBooks]where [LibraryIssueID]=IssueID) as Books,Status
		 from [LibraryIssueRegister] where [LibraryID]=@LibraryID and IssueDate between @StartDate and @EndDate and SessionID=@SessionID
	 end
	 else
	 begin
		select IssueID,BorrowerType,
		(case when BorrowerType=0 then (Select EmployeeName from EmployeeMaster where EmployeeID=BorrowerID) else
		(select Name from v_StudentCurrentClassName where StudentID=BorrowerID and SessionID=@SessionID) end) as BorrowerName,
		ClassID,[IssueDate],[IssuedDays],Remark,
		(Select Count(*) from [LibraryIssueBooks]where [LibraryIssueID]=IssueID and Status=1) as ReturnedBooks,
		(Select Count(*) from [LibraryIssueBooks]where [LibraryIssueID]=IssueID) as Books,Status
		 from [LibraryIssueRegister] where [LibraryID]=@LibraryID and IssueDate between @StartDate and @EndDate and BorrowerType=@BorrowerType and SessionID=@SessionID
	 end
end
else
begin
	if(@BorrowerType=-1)
	begin
		select IssueID,BorrowerType,
		(case when BorrowerType=0 then (Select EmployeeName from EmployeeMaster where EmployeeID=BorrowerID) else
		(select Name from v_StudentCurrentClassName where StudentID=BorrowerID and SessionID=@SessionID) end) as BorrowerName,
		ClassID,[IssueDate],[IssuedDays],Remark,
		(Select Count(*) from [LibraryIssueBooks]where [LibraryIssueID]=IssueID and Status=1) as ReturnedBooks,
		(Select Count(*) from [LibraryIssueBooks]where [LibraryIssueID]=IssueID) as Books,Status
		 from [LibraryIssueRegister] where [LibraryID]=@LibraryID and IssueDate between @StartDate and @EndDate and Status=@Status and SessionID=@SessionID
	 end
	 else
	 begin
		select IssueID,BorrowerType,
		(case when BorrowerType=0 then (Select EmployeeName from EmployeeMaster where EmployeeID=BorrowerID) else
		(select Name from v_StudentCurrentClassName where StudentID=BorrowerID and SessionID=@SessionID) end) as BorrowerName,
		ClassID,[IssueDate],[IssuedDays],Remark,
		(Select Count(*) from [LibraryIssueBooks]where [LibraryIssueID]=IssueID and Status=1) as ReturnedBooks,
		(Select Count(*) from [LibraryIssueBooks]where [LibraryIssueID]=IssueID) as Books,Status
		 from [LibraryIssueRegister] where [LibraryID]=@LibraryID and IssueDate between @StartDate and @EndDate and Status=@Status and BorrowerType=@BorrowerType and SessionID=@SessionID
	 end
end
Select ID,Name from LibraryMaster where SBranchID=@SBranchID and Type=0

Select SessionID as ID,SessionName as Name, SessionStatus as Extra1 from SessionMaster where SBranchID=@SBranchID

Select isnull(@LibraryID,0)
select isnull(@SessionID,0)
End
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLibraryIssueRegisterDetail]    Script Date: 7/18/2019 10:42:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_GetLibraryIssueRegisterDetail]
(
@IssueID int,
@SessionID int,
@SBranchID int
)
AS
BEGIN
	if(@SessionID=0)
	begin
		Select @SessionID=SessionID from SessionMaster where SBranchID=@SBranchID and SessionStatus=1
	end
	select IssueID,BorrowerType,BorrowerID,
		(Select Count(*) from [LibraryIssueBooks]where [LibraryIssueID]=IssueID and Status=1) as ReturnedBooks,
		(Select Count(*) from [LibraryIssueBooks]where [LibraryIssueID]=IssueID) as Books,
	(case when BorrowerType=0 then (Select EmployeeName from EmployeeMaster where EmployeeID=BorrowerID) else
	(select Name from v_StudentCurrentClassName where StudentID=BorrowerID and SessionID=@SessionID) end) as BorrowerName,
	ClassID,[IssueDate],[IssuedDays],Remark
	from [LibraryIssueRegister] where IssueID=@IssueID
	
	Select BookIssueID,LIB.BookID,LIB.CopyID,LIB.IssueDays,LIB.IssueDate,Remark,LIB.[Status],LIB.[Status] as AStatus,
	BCD.BarCode,BCD.RFID,BCD.Code,'(' +isnull(BCD.Code,'')+') '+ BM.Title as Title,BM.[Image]
	from [LibraryIssueBooks] LIB Left outer join [dbo].[BookCopyDetail] BCD on BCD.CopyID=LIB.CopyID
	left outer join [dbo].[BookMaster] BM on LIB.BookID=BM.BookID
	where [LibraryIssueID]=@IssueID

	Select ClassID as ID, ClassName as Name from ClassMaster where SBranchID=@SBranchID and Status=1

	Select EmployeeID as ID,EmployeeName as Name from EmployeeMaster where DesignationID=1 and SBranchID=@SBranchID
End
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLibrarySectionStudentList]    Script Date: 7/18/2019 10:42:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[sp_GetLibrarySectionStudentList]
(
@SectionID int,
@SessionID int
)
AS
BEGIN
	Select StudentID as ID,'STUD'+RIGHT(REPLICATE('0',6)+CAST(SM.[StudentID] AS VARCHAR(6)),6) +' '+ Name
	 as Name
	from StudentMaster SM where SM.StudentID in (Select StudentID from Student_Session SS where SS.SectionID=@SectionID and SS.SessionID=@SessionID and Status=1)

END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMailRequest]    Script Date: 7/18/2019 10:42:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_GetMailRequest]
(
  @Status int
)
as 
begin 
	if(@Status=-1)
	begin
	select ID,FromID,MailType,SendingType,ToList as ToListIDs,
	(case when SendingType=0 then 'Individual' else (case when SendingType=1 then 'Group' else (case when SendingType=2 then 'SuperGroup' else 'Bulk' end) end)end)'SendingTypeName',
	(case when SendingType=0 then ToList else  dbo.GetGroupNames(ToList) end)'ToList',
	MailSubject,CreatedDate,CompletedDate,[Status],MailBody,
	(Case when [Status]=0 then 'Submitted' else (case when [Status]=2 then 'Processing' else 'Sent' end) end) 'StatusDesc'
	,ScheduleDate
	from MailMaster where MailType=1 order by ScheduleDate desc
	end
	else
	begin
	select ID,FromID,MailType,SendingType,	ToList as ToListIDs,
	(case when SendingType=0 then 'Individual' else (case when SendingType=1 then 'Group' else (case when SendingType=2 then 'SuperGroup' else 'Bulk' end)  end)end)'SendingTypeName',
	(case when SendingType=0 then  ToList else  dbo.GetGroupNames(ToList) end)'ToList',
	MailSubject,CreatedDate,CompletedDate,[Status],MailBody,
	(Case when [Status]=0 then 'Submitted' else (case when [Status]=2 then 'Processing' else 'Sent' end) end) 'StatusDesc',ScheduleDate
	from MailMaster where [Status]=@Status and MailType=1 order by ScheduleDate desc
	end
end















GO
/****** Object:  StoredProcedure [dbo].[sp_GetMailRequestDetails]    Script Date: 7/18/2019 10:42:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[sp_GetMailRequestDetails]
(
  @ID int
)
as 
begin 
	
	select ID,FromID,MailType,SendingType,
	 ToList,	MailSubject,CreatedDate,CompletedDate,[Status],ScheduleDate,MailBodyType,MailBody,ModifyDate,UserID
	from MailMaster where ID=@ID
end


















GO
/****** Object:  StoredProcedure [dbo].[sp_GetMessages]    Script Date: 7/18/2019 10:42:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_GetMessages]
(
@RecieverType int,
@ID int
)
AS
BEGIN
	SELECT count(*) 
  FROM [dbo].[MessageMaster] MM 
  where (MM.RecieverID=@ID or MM.RecieverID=0) and MM.RecieverType=@RecieverType and IsShow=1 and isnull(IsRead,0)!=1

	SELECT  [MessageID]      ,[MessageTitle]      ,[MessageBody]      ,[SenderID]      ,[SenderType]	  ,VNT.Name      ,[RecieverID]
      ,[RecieverType]  ,[SendDate]  ,[IsRead]  ,[ReadDate] ,[ParentMessageID]      ,[MainMailThreadID]   ,[IsShow],Attachments
  FROM [dbo].[MessageMaster] MM left outer join v_Name_ID_Type VNT on MM.SenderID=VNT.ID and MM.SenderType=VNT.[Type]
  where (MM.RecieverID=@ID or MM.RecieverID=0) and MM.RecieverType=@RecieverType and isnull(IsShow,1)!=0 order by SendDate desc

  SELECT  [MessageID]      ,[MessageTitle]      ,[MessageBody]      ,[SenderID]      ,[SenderType]	  ,VNT.Name      ,[RecieverID]
      ,[RecieverType]  ,[SendDate]  ,[IsRead]  ,[ReadDate] ,[ParentMessageID]      ,[MainMailThreadID]   ,[IsShow],Attachments
  FROM [dbo].[MessageMaster] MM left outer join v_Name_ID_Type VNT on MM.RecieverID=VNT.ID and MM.RecieverType=VNT.[Type]
  where MM.SenderID=@ID and MM.SenderType=@RecieverType order by SendDate desc
END













GO
/****** Object:  StoredProcedure [dbo].[sp_GetReceptionSearchEmployeeData]    Script Date: 7/18/2019 10:42:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_GetReceptionSearchEmployeeData]
(
@EmployeeID int,
@CurrDate date
)
AS
BEGIN

		declare @Month int,@Year int,@DayID nvarchar(3)
		set @Month=datepart(month,@CurrDate)
		set @Year=datepart(year,@CurrDate)
		set @DayID=datepart(day,@CurrDate)

		select EM.EmployeeID,EM.EmployeeName,EM.Photo,EM.Gender,EM.EmployeeType,EM.MobileNumber,EM.EmailID,EM.DOJ
	  from v_EmployeeDriversBasicDetails EM where EM.EmployeeID=@EmployeeID

	  Declare @SQL nvarchar(max)
	  set @SQL='Select isnull((Select D'+@DayID+' From EmployeeAttendanceMasterT where EmployeeID='+(cast(@EmployeeID as nvarchar(10)))+' and FYear='+cast(@Year as nvarchar(10)) +' and Month='+cast(@Month as nvarchar(10))+'),3)'
	  exec(@SQL)

	  exec sp_GetMonthEmployeeAttandance @EmployeeID,@Year,@Month

END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetReceptionSearchStudentData]    Script Date: 7/18/2019 10:42:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_GetReceptionSearchStudentData]
(
@StudentID int,
@CurrDate date
)
AS
BEGIN

		declare @Month int,@Year int,@DayID nvarchar(3)
		set @Month=datepart(month,@CurrDate)
		set @Year=datepart(year,@CurrDate)
		set @DayID=datepart(day,@CurrDate)

		select SM.StudentID, SS.FromDate	  ,SS.ToDate
	  ,SS.Status,	  SS.RollNo,SM.Name,SM.Photo,SM.Gender,
	  (select ClassName from ClassMaster CM where CM.ClassID=SS.ClassID) as ClassName
	  ,(Select Name from Class_Sections CS where CS.ID=SS.SectionID) as SectionName
	  from StudentMaster SM left outer join Student_Session SS on SS.StudentID=SM.StudentID and SS.Status=1 where SM.StudentID=@StudentID

	  Declare @SQL nvarchar(max)
	  set @SQL='Select isnull((Select D'+@DayID+' From StudentAttendanceMasterT where StudentID='+(cast(@StudentID as nvarchar(10)))+' and FYear='+cast(@Year as nvarchar(10)) +' and Month='+cast(@Month as nvarchar(10))+'),3)'
	  exec(@SQL)

	  exec sp_GetMonthStudentAttandance @StudentID,@Year,@Month
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetVehicleRouteForAdmission]    Script Date: 7/18/2019 10:42:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[sp_GetVehicleRouteForAdmission]
(
@RouteID int,
@ClassID int,
@SBranchID int
)
AS
BEGIN
declare @ShiftID int
select @ShiftID=ShiftType from EducationLevelMaster where ID=(Select EducationLevelID from ClassMaster where ClassID=@ClassID)

	Select VehicleRouteID,
	(Select VehicleNumber from VehicleDetails VD where VD.VehicleID=TVR.VehicleID)+' ('+convert(nvarchar(5),DelayFromRouteTime)+')' as Vehicle
	
 from [dbo].[Transport_Vehicle_Route]  TVR  where SBranchID=@SBranchID and ShiftType=@ShiftID and RouteID=@RouteID
END














GO
/****** Object:  StoredProcedure [dbo].[sp_GetVehicleRouteStoppages]    Script Date: 7/18/2019 10:42:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[sp_GetVehicleRouteStoppages]
(
	@VehicleRouteID int
)
AS
BEGIN
	Select StopID,VehicleRouteID,ShiftType,TRD.AreaID,
	(Select [AreaName] from AreaMaster AM Where AM.AreaID=TRD.AreaID) as AreaName,
	DATEADD(MINUTE,  TVR.DelayFromRouteTime,(case when ShiftType=0 then [time] else [TimeSecond] end) ) as PickTime,HaltDuration,SequenceNo
	,DATEADD(MINUTE, TVR.DelayFromRouteTime, (case when ShiftType=0 then [timeR] else [TimeRSecond] end) ) as DropTime,
	HaltDurationR,SequenceNoR from TransportRouteDetails TRD left outer join Transport_Vehicle_Route TVR on TVR.RouteID=TRD.RouteID
	where tvr.VehicleRouteID=@VehicleRouteID	
	order by SequenceNo

	
END


--exec [dbo].[sp_GetVehicleRouteStoppages] 4









GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateBookCategory]    Script Date: 7/18/2019 10:42:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[sp_InsertUpdateBookCategory]
(
@ID int,
@Name nvarchar(100),
@SBranchID int,
@OpType int
)
AS
BEGIN

	if(@OpType=-1)
	begin
		Delete from BookCategory where ID=@ID 
	end
	else if(@ID=0)
	begin
		Insert into BookCategory(Name,SBranchID)
		values (@Name,@SBranchID)
	end
	else
	begin
		
		Update BookCategory set Name=@Name
		 where ID=@ID 
	end
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateBookCopies]    Script Date: 7/18/2019 10:42:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[sp_InsertUpdateBookCopies]
(
@CopyID int,
@BookID int,
@BarCode nvarchar(50),
@RFID nvarchar(50),
@AStatus int,
@Code nvarchar(50),
@OpType int
)
AS
BEGIN
	if(@OpType=-1)
	begin
		Delete from BookCopyDetail where CopyID=@CopyID
	end
	else if(@CopyID=0)
	begin
		Insert into BookCopyDetail(BookID,BarCode,RFID,AStatus,Code)
		values(@BookID,@BarCode,@RFID,@AStatus,@Code)
	end
	else
	begin
		Update BookCopyDetail set BarCode=@BarCode,RFID=@RFID,AStatus=@AStatus,Code=@Code where CopyID=@CopyID
	end

	Select CopyID,BarCode,RFID,AStatus,Code from BookCopyDetail where BookID=@BookID
END

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateBookCopy]    Script Date: 7/18/2019 10:42:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_InsertUpdateBookCopy]
(
@CopyID int,
@BookID int,
@BarCode nvarchar(50),
@RFID nvarchar(50),
@Code nvarchar(20),
@OpType int
)
AS
BEGIN

	if(@OpType=-1)
	begin
		Delete from BookCopyDetail where CopyID=@CopyID 
	end
	else if(@CopyID=0)
	begin
		Insert into BookCopyDetail(BookID,BarCode,RFID,Code)
		values (@BookID,@BarCode,@RFID,@Code)
	end
	else
	begin
		Update BookCopyDetail set BarCode=@BarCode,RFID=@RFID,Code=@Code
		where CopyID=@CopyID
	end

	Select CopyID,BarCode,RFID,AStatus,Code from BookCopyDetail where BookID=@BookID
END

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateBookDetails]    Script Date: 7/18/2019 10:42:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_InsertUpdateBookDetails]
(
@BookID int,
@Title nvarchar(500),
@Publisher nvarchar(500),
@BayID int,
@Description nvarchar(MAX),
@Copies int,
@Status bit,
@Price numeric(10, 2),
@Author nvarchar(100),
@Image nvarchar(500),
@CategoryIDs nvarchar(50),
@ClassesIDs nvarchar(50),
@ISBN nvarchar(50),
@ISBN13 nvarchar(50),
@SBranchID int,
@BookCode nvarchar(50),
@IssueDays int,
@OpType int
)
AS
BEGIN

	if(@OpType=-1)
	begin
		Delete from BookMaster where BookID=@BookID 
	end
	else if(@BookID=0)
	begin
		Insert into BookMaster(Title,Publisher,BayID,[Description],Copies,[Status],Price,Author,[Image],CategoryIDs,ClassesIDs,ISBN,ISBN13,SBranchID,BookCode,IssueDays)
		values (@Title,@Publisher,@BayID,@Description,@Copies,@Status,@Price,@Author,@Image,@CategoryIDs,@ClassesIDs,@ISBN,@ISBN13,@SBranchID,@BookCode,@IssueDays)
		SELECT @BookID= CAST(SCOPE_IDENTITY() as int) 		
		exec sp_GetBookDetails @BookID,@SBranchID
	end
	else
	begin
		
		Update BookMaster set Title=@Title,Publisher=@Publisher,BayID=@BayID,[Description]=@Description,Copies=@Copies,
		[Status]=@Status,Price=@Price,Author=@Author,[Image]=@Image,CategoryIDs=@CategoryIDs,
		ClassesIDs=@ClassesIDs,ISBN=@ISBN,ISBN13=@ISBN13,SBranchID=@SBranchID,BookCode=@BookCode,IssueDays=@IssueDays
		 where BookID=@BookID
		exec sp_GetBookDetails @BookID,@SBranchID
	end
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateLibrary]    Script Date: 7/18/2019 10:42:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[sp_InsertUpdateLibrary]
(
@ID int,
@Name nvarchar(100),
@Status int,
@Type int,
@MasterID int,
@Detail nvarchar(500),
@SBranchID int,
@OpType int
)
AS
BEGIN

	if(@OpType=-1)
	begin
		select  @Type=[Type] from LibraryMaster where ID=@ID
		Delete from LibraryMaster where ID=@ID 
	end
	else if(@ID=0)
	begin
		Insert into LibraryMaster(Name,[Status],[Type],MasterID,Detail,SBranchID)
		values (@Name,@Status,@Type,@MasterID,@Detail,@SBranchID)
	end
	else
	begin
		
		Update LibraryMaster set MasterID=@MasterID,Name=@Name,Detail=@Detail, [Status]=@Status
		 where ID=@ID 
	end
	set @Type=@Type+1
	exec sp_GetLibraryDetails @MasterID,@SBranchID,@Type
END














GO
/****** Object:  StoredProcedure [dbo].[sp_MarkMessage]    Script Date: 7/18/2019 10:42:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[sp_MarkMessage]
(
@MessageID int,
@Mark int
)
AS
BEGIN
if(@Mark=0)
begin
	Update MessageMaster set IsRead=1 where MessageID=@MessageID
end
else
begin
	Update MessageMaster set IsShow=0 where MessageID=@MessageID
end
END














GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateMailRequest]    Script Date: 7/18/2019 10:42:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_UpdateMailRequest]
(
  @ID numeric(18, 0),
 @FromID nvarchar(50),
 @MailType int,
 @SendingType int,
 @ToList nvarchar(MAX),
 @MailSubject nvarchar(MAX),
 @MailBody nvarchar(MAX),
 @MailBodyType int,
 @ModifyDate date,
 @ModifiedBy int,
 @Status int,
 @ScheduleDate datetime
)
as 
begin 
Update [dbo].[MailMaster] set FromID=@FromID, MailType=@MailType, SendingType=@SendingType, ToList=@ToList, MailSubject=@MailSubject, MailBody=@MailBody, MailBodyType=@MailBodyType,ModifyDate= @ModifyDate, UserID=@ModifiedBy, [Status]=@Status, ScheduleDate=@ScheduleDate
where ID=@ID
end















GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateMailRequestStatus]    Script Date: 7/18/2019 10:42:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_UpdateMailRequestStatus]
(
  @ID numeric(18, 0),
 @Status int,
 @CompletedDate datetime
)
as 
begin 
Update [dbo].[MailMaster] set  [Status]=@Status, CompletedDate=@CompletedDate
where ID=@ID
end















GO
/****** Object:  StoredProcedure [dbo].[spn_InsertAdmissionEnquiryFollowup]    Script Date: 7/18/2019 10:42:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spn_InsertAdmissionEnquiryFollowup]
(
@FollowupID int,
@EnquiryID int,
@FollowupBy int,
@FollowupByName nvarchar(50),
@Remark nvarchar(MAX),
@FDate datetime,
@Status int,
@Possibility int,
@NextFollowupDate datetime,
@CreatedDate datetime
)
as 
begin 
		insert into AdmissionEnquiryFollowups(EnquiryID,FollowupBy,FollowupByName,Remark,FDate,Status,Possibility,NextFollowupDate,CreatedDate)
		values (@EnquiryID,@FollowupBy,@FollowupByName,@Remark,@FDate,@Status,@Possibility,@NextFollowupDate,@CreatedDate)
		
		update AdmissionEnquiryMaster set NextFollowUpDate=@NextFollowupDate where EnquiryID=@EnquiryID
		 SELECT  CAST(SCOPE_IDENTITY() as int)
end
GO
/****** Object:  StoredProcedure [dbo].[spn_InsertUpdateAdmissionEnquiry]    Script Date: 7/18/2019 10:42:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[spn_InsertUpdateAdmissionEnquiry]
(
@EnquiryID int,
@EDate datetime,
@FatherName nvarchar(50),
@MotherName nvarchar(50),
@FatherMobileNo nvarchar(50),
@MotherMobileNo nvarchar(50),
@FatherEmailID nvarchar(50),
@MotherEmailID nvarchar(50),
@FOccupation nvarchar(50),
@MOccupation nvarchar(50),
@FamilyIncome numeric(18, 2),
@Address nvarchar(MAX),
@StudentName nvarchar(50),
@AppliedForSession int,
@AppliedForClass int,
@CurrentClass int,
@ESource int,
@CurrentSchool nvarchar(50),
@CurrentSchoolAddress nvarchar(MAX),
@ReasonForChange nvarchar(MAX),
@Gender bit,
@Nationality nvarchar(50),
@CurrentEducationSystem nvarchar(50),
@StudentDOB date,
@EStatus int,
@EPossibility int,
@NextFollowUpDate datetime,
@SBranchID int,
@UserID int,
@CreatedDate date,
@StudentID int,
@PaymentStatus int,
@PaymentDetails nvarchar(500),
@AssignedTo int
)
as 
begin 
	if(@EnquiryID=0)
	begin
		insert into AdmissionEnquiryMaster(EDate,FatherName,MotherName,FatherMobileNo,MotherMobileNo,FatherEmailID,MotherEmailID,FOccupation,MOccupation,FamilyIncome,[Address],StudentName,AppliedForSession,AppliedForClass,CurrentClass,ESource,CurrentSchool,CurrentSchoolAddress,ReasonForChange,Gender,Nationality,CurrentEducationSystem,StudentDOB,EStatus,EPossibility,NextFollowUpDate,SBranchID,UserID,CreatedDate,StudentID,PaymentStatus,PaymentDetails,AssignedTo)
		values (@EDate,@FatherName,@MotherName,@FatherMobileNo,@MotherMobileNo,@FatherEmailID,@MotherEmailID,@FOccupation,@MOccupation,@FamilyIncome,@Address,@StudentName,@AppliedForSession,@AppliedForClass,@CurrentClass,@ESource,@CurrentSchool,@CurrentSchoolAddress,@ReasonForChange,@Gender,@Nationality,@CurrentEducationSystem,@StudentDOB,@EStatus,@EPossibility,@NextFollowUpDate,@SBranchID,@UserID,@CreatedDate,@StudentID,@PaymentStatus,@PaymentDetails,@AssignedTo)
		
		 SELECT @EnquiryID= CAST(SCOPE_IDENTITY() as int)
	end
	else
	begin
		Update AdmissionEnquiryMaster set EDate=@EDate,FatherName=@FatherName,MotherName=@MotherName,FatherMobileNo=@FatherMobileNo,MotherMobileNo=@MotherMobileNo,
		FatherEmailID=@FatherEmailID,MotherEmailID=@MotherEmailID,FOccupation=@FOccupation,MOccupation=@MOccupation,FamilyIncome=@FamilyIncome,Address=@Address,
		StudentName=@StudentName,AppliedForSession=@AppliedForSession,AppliedForClass=@AppliedForClass,CurrentClass=@CurrentClass,ESource=@ESource,CurrentSchool=@CurrentSchool,
		CurrentSchoolAddress=@CurrentSchoolAddress,ReasonForChange=@ReasonForChange,Gender=@Gender,Nationality=@Nationality,CurrentEducationSystem=@CurrentEducationSystem,
		StudentDOB=@StudentDOB,EStatus=@EStatus,EPossibility=@EPossibility,NextFollowUpDate=@NextFollowUpDate,SBranchID=@SBranchID,UserID=@UserID,CreatedDate=@CreatedDate,
		StudentID=@StudentID,PaymentStatus=@PaymentStatus,PaymentDetails=@PaymentDetails,AssignedTo=@AssignedTo
		where EnquiryID=@EnquiryID

	end
	SELECT 
	[EnquiryID] ,[EDate]  ,[FatherName],[MotherName],[FatherMobileNo],[MotherMobileNo],[FatherEmailID],[MotherEmailID],
	FOccupation,MOccupation,FamilyIncome,[Address],[StudentName]
	,[AppliedForSession],AssignedTo,
	(Select SessionName from SessionMaster SM where SM.SessionID=AEM.AppliedForSession) as SessionName
	,[AppliedForClass],
	(Select ClassName from ClassMaster SM where SM.ClassID=AEM.AppliedForClass) as ClassName,
	(Select ClassName from ClassMaster SM where SM.ClassID=AEM.[CurrentClass]) as CurrentClassName
	,[CurrentClass],[ESource],[CurrentSchool],[CurrentSchoolAddress],[ReasonForChange],[Gender],[Nationality],[CurrentEducationSystem]
	,[StudentDOB],[EStatus],[EPossibility],[NextFollowUpDate],[SBranchID],[UserID],
	(Select EmployeeName from EmployeeMaster EM where EM.EmployeeID=AEM.AssignedTo) as ReciptionistName
	,[CreatedDate],[StudentID],[PaymentStatus],[PaymentDetails],
	(Select count(*) from AdmissionEnquiryFollowups AEF where AEF.EnquiryID=AEM.EnquiryID) as Followups
	FROM [dbo].[AdmissionEnquiryMaster] AEM where EnquiryID=@EnquiryID
end

GO
/****** Object:  StoredProcedure [dbo].[spn_InsertUpdateLibraryRegister]    Script Date: 7/18/2019 10:42:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[spn_InsertUpdateLibraryRegister]
(
@IssueID int,
@BorrowerType int,
@BorrowerID int,
@IssueDate date,
@IssueDays int,
@LibraryID int,
@Remark nvarchar(500),
@Status int,
@SessionID int,
@CreatedDate date,
@IssuedBooks ut_LibraryIssueBooks READONLY
)
AS
BEGIN
	if(@IssueID=0)
	begin
		Insert into [dbo].[LibraryIssueRegister](BorrowerType,BorrowerID,IssueDate,LibraryID,CreatedDate,Remark,SessionID)
		values(@BorrowerType,@BorrowerID,@IssueDate,@LibraryID,@CreatedDate,@Remark,@SessionID)
		select @IssueID=CAST(SCOPE_IDENTITY() as int)
	end
	else
	begin
		Update [dbo].[LibraryIssueRegister] set BorrowerType=@BorrowerType,BorrowerID=@BorrowerID,IssueDate=@IssueDate
		,LibraryID=@LibraryID,Remark=@Remark,SessionID=@SessionID where IssueID=@IssueID
	end

	INSERT INTO  [dbo].LibraryIssueBooks (BookID, CopyID,IssueDays,IssueDate,LibraryIssueID,Status)
	SELECT BookID, CopyID,IssueDays,IssueDate,@IssueID,Status FROM @IssuedBooks PD where PD.BookIssueID=0

	UPDATE e SET   e.Status=d.Status
		FROM  [dbo].LibraryIssueBooks e, @IssuedBooks d 
		WHERE d.BookIssueID=e.BookIssueID and d.BookIssueID<>0 and d.OpType<>-1

	delete from [dbo].LibraryIssueBooks where BookIssueID in (select BookIssueID from @IssuedBooks where OpType=-1)

	select IssueID,BorrowerType,
		(case when BorrowerType=0 then (Select EmployeeName from EmployeeMaster where EmployeeID=BorrowerID) else
		(select Name from v_StudentCurrentClassName where StudentID=BorrowerID and SessionID=@SessionID) end) as BorrowerName,
		ClassID,[IssueDate],[IssuedDays],Remark,
		(Select Count(*) from [LibraryIssueBooks]where [LibraryIssueID]=IssueID and Status=1) as ReturnedBooks,
		(Select Count(*) from [LibraryIssueBooks]where [LibraryIssueID]=IssueID) as Books,Status
		 from [LibraryIssueRegister] where IssueID=@IssueID

END
GO
/****** Object:  StoredProcedure [dbo].[spn_InsertUpdateToDoItem]    Script Date: 7/18/2019 10:42:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spn_InsertUpdateToDoItem]
(
@ToDoID int,
@Priority int,
@ScheduledDateTime datetime,
@Status int,
@Details nvarchar(MAX),
@UserID int,
@SBranchID int,
@CreatedDate datetime,
@UserType int,
@OpType int
)
as 
begin 
	if(@OpType=-1)
	begin
		Delete from ToDOList where ScheduledDateTime<dateadd(day,-7,@CreatedDate) and Status=1
		update ToDOList set Status=1 where ToDoID=@ToDoID
	end
	else
	begin
		if(@ToDoID=0)
		begin
			insert into ToDOList([Priority],ScheduledDateTime,[Status],Details,UserID,SBranchID,CreatedDate,UserType )
			values (@Priority,@ScheduledDateTime,@Status,@Details,@UserID,@SBranchID,@CreatedDate,@UserType )
		
			 SELECT @ToDoID= CAST(SCOPE_IDENTITY() as int)
		end
		else
		begin
			Update ToDOList set [Priority]=@Priority,ScheduledDateTime=@ScheduledDateTime,[Status]=@Status,Details=@Details,UserID=@UserID,SBranchID=@SBranchID,CreatedDate=@CreatedDate
			where ToDoID=@ToDoID

		end
	end
	select @ToDoID
end
GO
/****** Object:  StoredProcedure [dbo].[spr_GetReceptionDashboard]    Script Date: 7/18/2019 10:42:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spr_GetReceptionDashboard]
(
@UserID int,
@CurrentDate date,
@SBranchID int,
@UserType int
)
as 
begin 
	
		Select ToDoID,Priority,ScheduledDateTime,Status,Details from ToDOList
		where UserID=@UserID and CONVERT(date,ScheduledDateTime) between @CurrentDate and dateadd(day,7,@CurrentDate) and SBranchID=@SBranchID
		and UserType=@UserType
		
		if(@UserType=10)
		begin
			set @UserID=0
		end
		select AEF.EnquiryID,[Remark],[FDate],AEF.NextFollowupDate,AEM.[EStatus],AEF.[Possibility],
		AEM.StudentName,AEM.FatherName,AEM.MotherName,AEM.FatherMobileNo,AEM.MotherMobileNo,AEM.Gender,
		(Select SessionName from SessionMaster where SessionID=AEM.AppliedForSession) as SessionName,
		(Select ClassName from ClassMaster CM where CM.ClassID=AEM.AppliedForClass) as ClassName,
		(Case when FollowupBy<>0 then (Select EmployeeName from EmployeeMaster where EmployeeID=FollowupBy) else [FollowupByName] end) as [FollowupByName]
		 from [dbo].[AdmissionEnquiryFollowups]  AEF
		left outer join [dbo].[AdmissionEnquiryMaster] AEM on AEF.EnquiryID=AEM.EnquiryID
		where CONVERT(date,@CurrentDate)=CONVERT(date,AEF.NextFollowupDate) and isnull(nullif(@UserID,0),AEM.AssignedTo)=AEM.AssignedTo and AEM.SBranchID=@SBranchID

		select count(distinct EnquiryID) from[AdmissionEnquiryFollowups] where isnull(nullif(@UserID,0),[FollowupBy])=[FollowupBy] and 
		EnquiryID in(select EnquiryID from [AdmissionEnquiryMaster] where SBranchID=@SBranchID)
		
		select count(*) from [AdmissionEnquiryFollowups] where isnull(nullif(@UserID,0),[FollowupBy])=[FollowupBy] and 
		EnquiryID in(select EnquiryID from [AdmissionEnquiryMaster] where SBranchID=@SBranchID)

		select count(*) from [AdmissionEnquiryMaster] where isnull(nullif(@UserID,0),AssignedTo)=AssignedTo and EStatus=1 and SBranchID=@SBranchID
		
		select count(*) from [AdmissionEnquiryMaster] where isnull(nullif(@UserID,0),AssignedTo)=AssignedTo and EStatus=2 and SBranchID=@SBranchID
		select count(*) from [AdmissionEnquiryMaster] where isnull(nullif(@UserID,0),AssignedTo)=AssignedTo and EStatus=0 and SBranchID=@SBranchID
end
GO


CREATE View [dbo].[v_StudentCurrentClassName] as
select SM.StudentID,SM.SBranchID,SS.SessionID,SS.Status, SM.Name+' ('+ (Select ClassName+'/'+SectionName from [v_ClassSectionNames] CM where CM.SectionID=SS.SectionID) +') '+'STUD'+RIGHT(REPLICATE('0',6)+CAST(SM.[StudentID] AS VARCHAR(6)),6)
As Name
from StudentMaster SM left outer join Student_Session SS on SM.StudentID=SS.StudentID
GO


Create proc [dbo].[sp_GetSearchEmployeeForList]  
(  
 @SearchText nvarchar(30)='',  
 @SBranchID int  
)  
AS  
BEGIN  
   Select top 50  EM.EmployeeID as id,EM.EmployeeName +' ('+EM.EmployeeSID+')' as [text]  
    from v_EmployeeDriversBasicDetails EM   
    where (EM.EmployeeName like '%'+@SearchText+'%'  or EM.EmployeeSID like '%'+@SearchText+'%')  
    and EM.SBranchID=@SBranchID  
      order by EM.EmployeeName  
END  
