<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <connectionStrings>
    
      <add name="Mystring" connectionString="Data Source=173.249.36.15;Initial Catalog=prabhuti_SchoolGreenValley;Persist Security Info=True;User ID=prabhuti_SchoolGreenValley;Password=***********" providerName="System.Data.SqlClient" />

      <!--   <add name="Mystring" connectionString="Data Source=174.138.186.2;Initial Catalog=prabhuti_SchoolSSConvent;Persist Security Info=True;User ID=prabhuti_SchoolSSConvent;Password=***********" providerName="System.Data.SqlClient"/>



    <add name="Mystring" connectionString="Data Source=174.138.186.2;Initial Catalog=prabhuti_PSchool;Persist Security Info=True;User ID=prabhuti_PSchool;Password=***********" providerName="System.Data.SqlClient" />

     <add name="Mystring" connectionString="Data Source=173.249.36.15;Initial Catalog=prabhuti_SchoolBidhwanIn;Persist Security Info=True;User ID=prabhuti_SchoolBidhwanIn;Password=***********" providerName="System.Data.SqlClient" /> 
  
     
   
 <add name="Mystring" connectionString="Data Source=173.249.36.15;Initial Catalog=Prabhuti_SchoolGoverdhan;Persist Security Info=True;User ID=Prabhuti_SchoolGoverdhan;Password=***********" providerName="System.Data.SqlClient" />
 -->
  

    
   <!-- 
      
        <add name="Mystring" connectionString="Data Source=174.138.186.2;Initial Catalog=prabhuti_PSchool;Persist Security Info=True;User ID=prabhuti_PSchool;Password=***********" providerName="System.Data.SqlClient"/>
   
   
 <add name="Mystring" connectionString="Data Source=plesk3400.is.cc;Initial Catalog=prabhuti_schoolparamhansa;Persist Security Info=True;User ID=prabhuti_schoolparamhansa;Password=***********" providerName="System.Data.SqlClient" />
    
   <add name="Mystring" connectionString="Data Source=173.249.36.15;Initial Catalog=prabhuti_SchoolRajveer;Persist Security Info=True;User ID=prabhuti_SchoolRajveer;Password=***********" providerName="System.Data.SqlClient" />
       
    

    <add name="Mystring" connectionString="Data Source=173.249.36.15;Initial Catalog=prabhuti_SchoolKejauRam;Persist Security Info=True;User ID=prabhuti_SchoolKejauRam;Password=***********" providerName="System.Data.SqlClient" />   
   
  <add name="Mystring" connectionString="Data Source=173.249.36.15;Initial Catalog=prabhuti_SchoolCRSR;Persist Security Info=True;User ID=prabhuti_SchoolCRSR;Password=***********" providerName="System.Data.SqlClient" />
  
     <add name="Mystring" connectionString="Data Source=173.249.36.15;Initial Catalog=Prabhuti_SchoolNavyugHar;Persist Security Info=True;User ID=Prabhuti_SchoolNavyugHar;Password=***********" providerName="System.Data.SqlClient" />
   <add name="Mystring" connectionString="Data Source=173.249.36.15;Initial Catalog=prabhuti_SchooWaveInternational;Persist Security Info=True;User ID=prabhuti_SchooWaveInternational;Password=***********" providerName="System.Data.SqlClient" />
    <add name="Mystring" connectionString="Data Source=103.212.121.67;Initial Catalog=prabhuti_Schooljoseph;Persist Security Info=True;User ID=prabhuti_Schooljoseph;Password=***********" providerName="System.Data.SqlClient" />
  <add name="Mystring" connectionString="Data Source=173.249.36.15;Initial Catalog=prabhuti_SchoolGreenValley;Persist Security Info=True;User ID=prabhuti_SchoolGreenValley;Password=***********" providerName="System.Data.SqlClient" />

 
  <add name="Mystring" connectionString="Data Source=174.138.186.2;Initial Catalog=prabhuti_SchoolHuda;Persist Security Info=True;User ID=prabhuti_SchoolHuda;Password=***********" providerName="System.Data.SqlClient" />
       
  <add name="Mystring" connectionString="Data Source=174.138.186.2;Initial Catalog=prabhuti_SchoolXavierEnt;Persist Security Info=True;User ID=prabhuti_SchoolXavierEnt;Password=***********" providerName="System.Data.SqlClient" />
  <add name="Mystring" connectionString="Data Source=173.249.36.15;Initial Catalog=prabhuti_SchoolHamdania;Persist Security Info=True;User ID=prabhuti_SchoolHamdania;Password=***********" providerName="System.Data.SqlClient" />
  
     <add name="Mystring" connectionString="Data Source=103.212.121.67;Initial Catalog=prabhuti_SchoolHolyCross;Persist Security Info=True;User ID=prabhuti_SchoolHolyCross;Password=***********" providerName="System.Data.SqlClient" />-->
    <!--  

    <add name="Mystring" connectionString="Data Source=173.249.36.15;Initial Catalog=prabhuti_SchoolSarvodaya;Persist Security Info=True;User ID=prabhuti_SchoolSarvodaya;Password=***********" providerName="System.Data.SqlClient" />
       <add name="Mystring" connectionString="Data Source=173.249.36.15;Initial Catalog=Prabhuti_SchoolNavyugHar;Persist Security Info=True;User ID=Prabhuti_SchoolNavyugHar;Password=***********" providerName="System.Data.SqlClient" />-->
    <!-- <add name="Mystring" connectionString="Data Source=173.249.36.15;Initial Catalog=prabhuti_SchoolHamdania;Persist Security Info=True;User ID=prabhuti_SchoolHamdania;Password=***********" providerName="System.Data.SqlClient" />
   <add name="Mystring" connectionString="Data Source=plesk3400.is.cc;Initial Catalog=prabhuti_schoolparamhansa;Persist Security Info=True;User ID=prabhuti_schoolparamhansa;Password=***********" providerName="System.Data.SqlClient" />-->
    <!-- <add name="Mystring" connectionString="Data Source=173.249.36.15;Initial Catalog=prabhuti_SchoolBinayak;Persist Security Info=True;User ID=prabhuti_SchoolBinayak;Password=***********" providerName="System.Data.SqlClient" />-->
    <!-- <add name="Mystring" connectionString="Data Source=174.138.186.2;Initial Catalog=prabhuti_PSchool;Persist Security Info=True;User ID=prabhuti_PSchool;Password=***********" providerName="System.Data.SqlClient" />
   
   <add name="Mystring" connectionString="Data Source=174.138.186.2;Initial Catalog=prabhuti_SchoolGenius;Persist Security Info=True;User ID=prabhuti_SchoolGenius;Password=***********" providerName="System.Data.SqlClient" />-->
   <!--  <add name="Mystring" connectionString="Data Source=174.138.186.2;Initial Catalog=prabhuti_SchoolSSConvent;Persist Security Info=True;User ID=prabhuti_SchoolSSConvent;Password=***********" providerName="System.Data.SqlClient" />


        <add name="Mystring" connectionString="Data Source=plesk3400.is.cc;Initial Catalog=prabhuti_SchoolGurukul;Persist Security Info=True;User ID=prabhuti_SchoolGurukul;Password=***********" providerName="System.Data.SqlClient" />


      <add name="Mystring" connectionString="Data Source=plesk3400.is.cc;Initial Catalog=prabhuti_SchoolHuda;Persist Security Info=True;User ID=prabhuti_SchoolHuda;Password=***********" providerName="System.Data.SqlClient" />
  
      
    <add name="MystringGurukul" connectionString="Data Source=173.249.36.15;Initial Catalog=prabhuti_SchoolGurukul;Persist Security Info=True;User ID=prabhuti_SchoolGurukul;Password=***********" providerName="System.Data.SqlClient" />
    <add name="MystringSaraswati" connectionString="Data Source=plesk3400.is.cc;Initial Catalog=prabhuti_SchoolSaraswatiRaj;Persist Security Info=True;User ID=prabhuti_SchoolSaraswatiRaj;Password=***********" providerName="System.Data.SqlClient" />
    
    <add name="MystringHamdania" connectionString="Data Source=103.212.121.67;Initial Catalog=prabhuti_SchoolHamdania;Persist Security Info=True;User ID=prabhuti_SchoolHamdania;Password=***********" providerName="System.Data.SqlClient" />
  -->
    <!--   <add name="Mystring" connectionString="Data Source=plesk3400.is.cc;Initial Catalog=prabhuti_PSchool;Persist Security Info=True;User ID=prabhuti_PSchool;Password=***********" providerName="System.Data.SqlClient" />

       <add name="Mystring" connectionString="Data Source=103.212.121.67;Initial Catalog=prabhuti_SchoolSanvalley;Persist Security Info=True;User ID=prabhuti_SchoolSanvalley;Password=***********" providerName="System.Data.SqlClient" />
     <add name="Mystring" connectionString="Data Source=74.208.94.68;Initial Catalog=prabhuti_SchoolGreenValley;Persist Security Info=True;User ID=prabhuti_SchoolGreenValley;Password=***********" providerName="System.Data.SqlClient" />-->
    <!--
     <add name="Mystring" connectionString="Data Source=207.246.81.54;Initial Catalog=prabhuti_SchoolNandAasam;Persist Security Info=True;User ID=prabhuti_SchoolNandAasam;Password=***********" providerName="System.Data.SqlClient" />
     <add name="Mystring" connectionString="Data Source=207.246.81.54;Initial Catalog=prabhuti_SchoolN1PPS;Persist Security Info=True;User ID=prabhuti_SchoolN1PPS;Password=***********" providerName="System.Data.SqlClient" />
      <add name="Mystring" connectionString="Data Source=103.93.16.48;Initial Catalog=prabhuti_SchoolGenius;Persist Security Info=True;User ID=prabhuti_SchoolGenius;Password=***********" providerName="System.Data.SqlClient" />
   <add name="Mystring" connectionString="Data Source=95.216.8.41;Initial Catalog=prabhuti_SchoolDoon;Persist Security Info=True;User ID=prabhuti_SchoolDoon;Password=***********" providerName="System.Data.SqlClient" /> 
    <add name="Mystring" connectionString="Data Source=207.246.81.54;Initial Catalog=prabhuti_SchoolMaple;Persist Security Info=True;User ID=prabhuti_SchoolMaple;Password=***********" providerName="System.Data.SqlClient" />
        <add name="Mystring" connectionString="Data Source=103.93.16.48;Initial Catalog=prabhuti_SchoolN10Proplus;Persist Security Info=True;User ID=prabhuti_SchoolN10Proplus;Password=***********" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="BigBlueButtonAPISettings:ServerAPIUrl" value=" https://ionac.tk/bigbluebutton/api/" />
    <add key="BigBlueButtonAPISettings:SharedSecret" value="bgp5wBFMUTJWuk90l1S4MhaJb3jtbPga1AbqqBhCdg" />
    <!--   <add key="BigBlueButtonAPISettings:ServerAPIUrl" value="https://identitybbb.hopto.org/bigbluebutton/api/" />
    <add key="BigBlueButtonAPISettings:SharedSecret" value="aAkaByUr0TIT3tx9XmqnQuv6kMTR0jw1bLPC6vbSvE" />
  <add key="BigBlueButtonAPISettings:ServerAPIUrl" value="https://identityerp.tk/bigbluebutton/api/" />
    <add key="BigBlueButtonAPISettings:SharedSecret" value="omluOVWzH4m9K3h4zZINMD1kahsc80ZjROOSwmaDw" />-->
    <!-- <add key="BigBlueButtonAPISettings:ServerAPIUrl" value="https://identityschool.tk/bigbluebutton/api/"/>
    <add key="BigBlueButtonAPISettings:SharedSecret" value="aAkaByUr0TIT3tx9XmqnQuv6kMTR0jw1bLPC6vbSvE"/>--> 
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="username" value="2953945" />
    <add key="password" value="2YfVuCSV" />
    <add key="secret" value="rAa9fvRTuMx5gGMZ" />
    <add key="mercid" value="24516" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <urlMappings enabled="true">
      <add url="~/iclock/cdata" mappedUrl="~/iclock/cdata.aspx" />
      <add url="~/iclock/devicecmd" mappedUrl="~/iclock/devicecmd.aspx" />
      <add url="~/iclock/getrequest" mappedUrl="~/iclock/getrequest.aspx" />
      <add url="~/iclock/cdata.php" mappedUrl="~/iclock/cdata.aspx" />
      <add url="~/iclock/devicecmd.php" mappedUrl="~/iclock/devicecmd.aspx" />
      <add url="~/iclock/getrequest.php" mappedUrl="~/iclock/getrequest.aspx" />
    </urlMappings>
    <globalization culture="en-US" uiCulture="en-US" enableClientBasedCulture="false" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5.2" requestValidationMode="2.0" maxRequestLength="5120" />
    <machineKey validationKey="8500B75682643B822AF23E03A5139D667C1F42C4323449B9A38C5BAF42AFE8D05847AB871B65C67E7D2912197749E0EBF2B64B9FC3B337271C56BF4C338E156F" decryptionKey="1AAB031DFFCECD5D7C7A4A672F67F19199F91015AB5831E1" validation="SHA1" decryption="AES" />
    <customErrors mode="Off" />
    <sessionState mode="InProc" timeout="30" />
  </system.web>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.ServiceModel.DisableUsingServicePointManagerSecurityProtocols=false;Switch.System.Net.DontEnableSchUseStrongCrypto=false" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.ReaderWriter" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Algorithms" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules>
      <remove name="Session" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule"/>
 
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>