#tblResult > tbody > tr > td {
    text-align: center !important;
    vertical-align: middle !important;
}

.table > tbody > tr > td {
    padding-bottom: 1px;
    padding-top: 2px;
}
.ImageReportLogo {
    max-width: 110px;
    max-height: 110px;
    vertical-align: middle;
    border: 0;
}


*html .ImageReportLogo {
    width: expression((this.width/this.height)>=1?110:'auto');
    height: expression((this.width/this.height)<1?110:'auto');
}
.table .table {
    background-color: #fff;
}
.table-bordered {
    border: 1px solid #73879c;
}
    .table-bordered > tbody > tr > td{
        border-right: 1px solid #ddd;
    }
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
    .table > tbody > tr > td {
        padding-right: 4px;
        padding-left: 4px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }
    .noprint{
        display:none;
    }
.print {
    display: block;
    padding-left:3px;
}
.col-md-6 {
    position: relative;
    min-height: 1px;
    float: left;
    width: 50%;
}
.col-md-8 {
    position: relative;
    min-height: 1px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 50%;
}
.col-md-10 {
    position: relative;
    min-height: 5px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 83.33333333%;
}
.col-md-2 {
    position: relative;
    min-height: 5px;
    float: left;
    width: 16.66666667%;
}
.form-control {
    border-radius: 0;
    width: 100%;
}
.form-control {
    display: none;
}
.description {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}
.col-md-12 {
    position: relative;
    min-height: 1px;
    float: left;
    width: 100%;
}
.col-md-3 {
    position: relative;
    min-height: 1px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 20%;
}
col-md-5 {
    position: relative;
    min-height: 1px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 41.66666667%;
}
h2 {
    font-size: 18px;
    font-weight: 400;
}
p {
    margin: 0 0 10px;
}
.x_content {
    padding: 0 5px 6px;
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    margin-top: 5px;
}
.col-md-10 {
    position: relative;
    min-height: 1px;
    float: left;
    width: 75%;
}

#tblCategory > tbody > tr > td {
    vertical-align: middle;
}

.tblEqDetails > tbody > tr > td {
    padding: 0px;
}

.noPadRight {
    padding-right: 0px;
}

.noPadLeft {
    padding-left: 0px;
}

.enqDetails .row {
    border-bottom: 1px solid #d9dbdf;
    padding: 2px 0px 2px 0px;
}

.enqDetails .form-control {
    display: inline;
    width: auto;
    border-radius: 3px;
    padding: 2px 5px;
    font-size: 12px;
    height: 20px;
    background-color: #fcfcfd;
}

.enqDetails .btn {
    padding: 0px 2px;
    font-size: 13px;
}

.hidden {
    display: none;
}

.Followup {
    border: 2px solid #5cb8a0;
    padding: 2px 2px 2px 8px;
    border-radius: 3px;
    margin-top: 2px;
}

    .Followup .row {
        border-bottom: 0px;
    }

    .Followup .col-md-4 {
        border-bottom: 1px solid red;
        text-align: center;
    }
    .Followup .col-md-12 {
       margin-top:2px;
    }

#tblCategory > tbody > tr > td {
    vertical-align: middle;
}

.tblEqDetails > tbody > tr > td {
    padding: 0px;
}

.noPadRight {
    padding-right: 0px;
}

.noPadLeft {
    padding-left: 0px;
}
