* {
    box-sizing: border-box;
}

::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 12px;
    line-height: 1.2;
    color: #000;
}

img {
    max-width: 100%;
    height: auto;
}

h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.row::before {
    content: "";
    display: table;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    position: relative;
}

.wrapper {
    width: 900px;
    padding: 15px 15px;
    margin: 0px auto;
}

.headert h2 {
    text-align: center;
    font-size: 18px;
    color: #6f6f6f;
    font-weight: normal;
}



.sleek-bor {
    border-bottom: 1px solid #e0e0e0;
    margin: 10px 0;
}

.sleek-borone {
    border-bottom: 1px solid #d6d6d6;
    margin: 0 0 0 0;
    padding: 0 0 10px 0;
}

.address {
    margin-top: 20px;
    padding: 3px;
}

fieldset {
    padding: 0;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 0;
    z-index: -1;
}

    fieldset legend {
        text-align: center;
        font-size: 20px;
    }

        fieldset legend span {
            display: inline-block;
            padding: 2px 10px;
            position: relative;
            z-index: 9;
        }

            fieldset legend span::after {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                border-width: 10px;
                border-color: #fff;
                border-style: solid;
                z-index: -1;
            }

    fieldset .head-sec {
        padding: 0 25px;
    }

.patient-detail{
    width: 100%;
}

.col-one{
    width: 20%;
    display: inline-block;
}

    .col-two{
        width: 75%;
        display: inline-block;
    }

    .particular-list01 {
        border-bottom: 2px solid #b3b3b3;
    }

        fieldset .head-sec h2 {
            display: inline-block;
            font-size: 16px;
            font-style: italic;
            color: #909090;
            margin: 0 0 16px 0;
        }

.pat-text {
    margin: 0 0 0 15px;
}

.date-no {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 3px;
}

.invoice p {
    margin-top: 3px;
}

.col-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*border-bottom: 1px dotted #bbb;*/
    font-size: 12px;
}

    .col-parent .col-child {
        display: inline-block;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 50%;
    }


        .col-parent .col-child p {
            width: 100%;
            padding: 0;
            /*border-right: 1px dotted #bbb;*/
        }



            .col-parent .col-child p:last-child {
                width: 100%;
            }

        .col-parent .col-child:last-child p:last-child {
            border: 0;
        }

    .col-parent:last-child {
        border: 0;
    }

.regname{
    display: block;
}

.head-bg {
    background-color: #e8e8e8;
}

.text-rt {
    text-align: right !important;
}

.text-cen{
    text-align: center !important;
}

.bore-top {
    border-top: 2px solid #b3b3b3;
}

.mr-l {
    margin: 0 0 0 10px;
}

.mr-lone {
    margin: 0 0 0 25px;
}

.pat-img01 {
    position: relative;
    top: 5px;
}

.particular-section .sr {
    width: 10%;
    text-align: center;
}

.particular-section .product {
    width: 50%;
}
.particular-section .amount {
    width: 40%;
}

.particular-section .head-part {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

    .particular-section .head-part p {
        padding: 12px 0;
        text-align: center;
        font-weight: 600;
        font-size: 15px;
    }

.particular-section .particular-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

    .particular-section .particular-list p {
        padding: 5px 3px;
        text-align: center;
    }

        .particular-section .particular-list p:last-child {
            /*border-right: 1px dotted #bbb;*/
        }

    .particular-section .particular-list:last-child {
        border-bottom: 2px solid #b3b3b3;
    }

.particular-section .head-part {
    background-color: transparent;
    background-color: transparent;
    border-top: 2px solid #b3b3b3;
    border-bottom: 2px solid #b3b3b3;
}

.amount-section {
    display: flex;
    margin-top: 10px;
}

    .amount-section .amount-words {
        width: 55%;
        padding: 5px 0 0 0;
        /*background-color: #f1f1f1;
        border-top: 1px dotted #bbb;
        border-left: 1px dotted #bbb;
        border-bottom: 1px dotted #bbb;*/
    }

        .amount-section .amount-words h1 {
            margin: 5px 0 3px 0;
            font-size: 18px;
            line-height: normal;
            font-weight: normal;
        }

        .amount-section .amount-words h4 {
            font-style: italic;
            text-transform: capitalize;
            margin-top: 10px;
        }

.amount-wrtext {
    font-size: 12px;
}



.amount-section .amount-detail {
    width: 45%;
}

    .amount-section .amount-detail .amountlist {
        display: flex;
        text-align: right;
    }

        .amount-section .amount-detail .amountlist p {
            text-transform: uppercase;
            padding: 3px;
            /*border-top: 1px dotted #bbb;*/
            color: #6f6f6f;
            font-weight: 600;
        }

            .amount-section .amount-detail .amountlist p:first-child {
                width: 70%;
                /*background: #f1f1f1;
                    border-left: 1px dotted #bbb;
                    border-right: 1px dotted #bbb;*/
            }

            .amount-section .amount-detail .amountlist p:last-child {
                width: 30%;
                /*border-right: 1px dotted #bbb;*/
            }

        .amount-section .amount-detail .amountlist:last-child p {
            /*border-bottom: 1px dotted #bbb;*/
        }


.totalpro {
    font-size: 18px;
    font-weight: normal;
    text-align: left !important;
}

.text-lt{
text-align: left !important;
}

.totalpro-one {
    font-weight: normal;
    width: 100% !important;
    font-size: 12px;
    text-align: left !important;
    padding: 10px 0 !important;
}


.signature {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 10px;
    /*border-right: 1px dotted #bbb;
    border-left: 1px dotted #bbb;
    border-bottom: 1px dotted #bbb;*/
}

.visit {
    margin-top: 7px;
    font-style: italic;
    text-align: center;
}

.footer {
    width: 650px;
    padding-bottom: 2px;
    margin: 0px auto;
}

    .footer .footer-item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-bottom: 8px;
        color: #2c4f79;
        padding-left: 15px;
    }

        .footer .footer-item svg {
            width: 14px;
            height: 14px;
            margin-right: 8px;
        }

            .footer .footer-item svg g {
                fill: #2c4f79;
            }

        .footer .footer-item.cin {
            justify-content: flex-end;
            margin-top: -20px;
            margin-right: 60px;
        }

.footer-icon {
    width: 650px;
    margin: 0px auto;
    position: relative;
    border-bottom: 10px solid #2c4f79;
}

    .footer-icon .icon {
        position: absolute;
        top: -27px;
        right: 0;
        object-fit: contain;
        object-position: right bottom;
    }

        .footer-icon .icon img {
            max-width: 100%;
            height: 100%;
        }

/*# sourceMappingURL=main.css.map */
