@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900';
@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900';
/* =========================
          Common Style
```````````````````````````` */
/* =======================
       Custom Change
   -----------------------*/
@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900';
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  position: relative; }

textarea {
  resize: none; }

img {
  max-width: 100%;
  height: auto; }



* {
  box-sizing: border-box; }

::after, ::before {
  box-sizing: border-box; }


.row::before {
  content: "";
  display: table; }

.row::after {
  content: "";
  display: table;
  clear: both; }
.col-md-6 {
    position: relative;
    min-height: 2px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 50%;
}
.col-sm-2 {
  width: 16.66666667%;
  position: relative;
  min-height: 2px;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-sm-3 {
  width: 25%;
  position: relative;
  min-height: 2px;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-sm-4 {
  width: 33.33333333%;
  position: relative;
  min-height: 2px;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-sm-5 {
  width: 41.66666667%;
  position: relative;
  min-height: 2px;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-sm-6 {
  width: 50%;
  position: relative;
  min-height: 2px;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-sm-7 {
  width: 58.33333333%;
  position: relative;
  min-height: 2px;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-sm-8 {
  width: 66.66666667%;
  position: relative;
  min-height: 2px;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-sm-9 {
  width: 75%;
  position: relative;
  min-height: 2px;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-sm-10 {
  width: 83.33333333%;
  position: relative;
  min-height: 2px;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-sm-12 {
  width: 100%;
  position: relative;
  min-height: 2px;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px; }
  table > thead th {
    text-align: left; }

.row {
  margin-right: -15px;
  margin-left: -15px;
  box-sizing: border-box; 

}
.row span {
    line-height: 28px;
}
.col-md-10 {
    position: relative;
    min-height: 2px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width:80%;
}
.col-md-4 {
    position: relative;
    min-height: 2px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 25%;
}
.col-md-2 {
    width: 16.66666667%;
    position: relative;
    min-height: 2px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}
.header-1 {
    position: relative;
    width: 100%;
}
  .header-1 h1 {
    color: #a50000;
    color: #035b7b;
    font-size: 27px;
    line-height: 36px;
    text-transform: uppercase;
    text-shadow: 0px 1px 2px #999; }
  .header-1 h2 {
    color: #7e0070;
    font-size: 24px;
    text-shadow: 0px 0px 4px #fff;
    text-transform: uppercase; }
  .header-1 h3 {
    color: #0c7a00;
    font-size: 18px;
    text-shadow: 0px 0px 4px #fff;
    text-transform: uppercase; }
  .header-1 h4 {
    color: #190057;
    font-size: 15px;
    text-transform: capitalize;
    text-shadow: 0px 0px 4px #fff; }
  .header-1 .logo-img {
    width: 110px; }
    .header-1 .logo-img > img {
      object-fit: contain;
      object-position: center; }

.wrapper {
  width: 650px;
  padding: 15px 15px;
  margin: 0px auto;
  position: relative;
  border: 5px double #8cafb1;
  overflow: hidden; }
  .wrapper::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #f5f8f9;
    border-color: #f5f8f9;
    border-width: 320px;
    border-style: solid;
    z-index: -2; }
  .wrapper .header-1 {
    text-align: center;
    display: table; }
    .wrapper .header-1 .col-1, .wrapper .header-1 .col-2 {
      display: table-cell;
      vertical-align: top; }
  .wrapper .header-2 {
    text-align: center; }
  .wrapper .form-name {
    font-size: 16px; }
    .wrapper .form-name label {
      text-align: right; }
    .wrapper .form-name .form-box.name label {
      font-weight: 500; }
    .wrapper .form-name .form-box.name .col-sm-10 {
      border-bottom: 1px dashed #888;
      min-height: 20px; }
    .wrapper .form-name .form-box.class {
      margin-bottom: 15px;
      margin-top: 15px; }
      .wrapper .form-name .form-box.class .f-sec label {
        font-weight: 500; }
      .wrapper .form-name .form-box.class .f-sec div.col-sm-6 {
        border-bottom: 1px dashed #888;
        min-height: 20px; }
    .wrapper .form-name .form-box.roll {
      margin-bottom: 15px;
      margin-top: 15px; }
      .wrapper .form-name .form-box.roll .f-sec label {
        font-weight: 500; }
      .wrapper .form-name .form-box.roll .f-sec div.col-sm-8 {
        border-bottom: 1px dashed #888;
        min-height: 20px; }
  .wrapper .fee-table .table td, .wrapper .fee-table .table th {
    padding-top: 7px;
    padding-bottom: 7px;
    border: 1px solid #e1e1e1;
    padding-left: 20px; }
  .wrapper .fee-table .table .total {
    font-size: 20px;
    font-weight: 500; }
    .wrapper .fee-table .table .total td {
      padding-right: 20px; }
  .wrapper .bottom-sec {
    margin-top: 25px; }
    .wrapper .bottom-sec .principle {
      font-size: 18px;
      font-weight: 400; }

