
@media print {
    /*@page {
        size: A4 portrait;
    }*/
    #divCards {
        transform: scale(.705);
    }
    .frontdiv {
        page-break-inside: avoid;
    }
    /*tr.page-break {
        display: block;
        page-break-before: always;
    }
    th {
        border: 1px solid black;
        border-width: 0 1px 1px 0 !important;
    }*/
}  
#tblResult > tbody > tr > td {
    text-align: center !important;
    vertical-align: middle !important;
}

.table > tbody > tr > td {
    padding-bottom: 1px;
    padding-top: 2px;
    border: 1px solid black;
}
.ImageReportLogo {
    max-width: 110px;
    max-height: 110px;
    vertical-align: middle;
    border: 0;
}
.SchoolNameHead {
    font-size: 30px;
}
*html .ImageReportLogo {
    width: expression((this.width/this.height)>=1?110:'auto');
    height: expression((this.width/this.height)<1?110:'auto');
}
.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border-bottom-width: 2px;
}
.table .table {
    background-color: #fff;
}
.table-bordered {
    border: 1px solid #73879c;
}
    .table-bordered > tbody > tr > td {
        border-right: 1px solid #9F9C9C;
    }
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 5px;
}
    .table > tbody > tr > td {
        padding-right: 4px;
        padding-left: 4px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }
    .noprint{
        display:none;
    }
.print {
    display: block;
    padding-left:3px;
}
.col-md-6 {
    position: relative;
    min-height: 1px;
    float: left;
    width: 50%;
}
.col-md-8 {
    position: relative;
    min-height: 1px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 50%;
}
.col-md-10 {
    position: relative;
    min-height: 5px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 83.33333333%;
}
.col-md-2 {
    position: relative;
    min-height: 5px;
    float: left;
    width: 16.66666667%;
}
.form-control {
    border-radius: 0;
    width: 100%;
}
.form-control {
    display: none;
}
.description {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}
.col-md-12 {
    position: relative;
    min-height: 1px;
    float: left;
    width: 100%;
}
.col-md-3 {
    position: relative;
    min-height: 1px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 20%;
}
h2 {
    font-size: 18px;
    font-weight: 400;
}
p {
    margin: 0 0 10px;
}
.x_content {
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    margin-top: 0px;
}
.col-md-10 {
    position: relative;
    min-height: 1px;
    float: left;
    width: 75%;
}
.btn {
    padding: 3px 6px;
}

.thumbImageGrid {
    max-width: 75px;
    max-height: 75px;
}


*html1 .thumbImageGrid {
    width: expression((this.width/this.height)>=1?75:'auto');
    height: expression((this.width/this.height)<1?100:'auto');
}

.thumbImageMain {
    max-width: 125px;
    max-height: 125px;
}


*html .thumbImageMain {
    width: expression((this.width/this.height)>=1?125:'auto');
    height: expression((this.width/this.height)<1?125:'auto');
}

#tblCategory > tbody > tr > td {
    vertical-align: middle;
}

.tblResult {
    text-align: center;
    margin-bottom: 5px;
}

    .tblResult > tbody > tr > td {
        padding: 1px;
    }

    .tblResult > thead > tr > td {
        padding: 1px;
    }

    .tblResult thead {
        font-weight: bold;
    }

.tblResultEvName {
    font-weight: bold;
}

.NoPrint {
    display: none;
}