/* ===============
	  StyleSheet
   ===============
*/
ul.top_profiles {
		height: auto;
	}

	.event {
		border-radius: 9px;
		border-width: 2px;
		border-color: black;
	}

	.classContainer {
		border: 0.5px solid #808080;
		border-radius: 5px;
		padding: 6px;
	}

	.classNamediv {
		background-color: rgba(32, 65, 230, 0.16);
		margin: 3px;
		border-radius: 5px;
	}
.form-control {
	border-radius: 5px;
	width: 100%;
}
.BkRow{
	padding-bottom: 10px;
	background-color: #d1d1d1;
	border-radius: 7px;
	padding-top: 4px;
	margin-top: 5px;
}
.content{
	padding-left:0px;
	padding-right:0px;
}


@media (min-width: 768px) {
	#StudentDetail .form-group {
		display: block;
		margin-bottom: 15px;
	}

	#StudentDetail label {
		font-size: 13px;
	}

	#StudentDetail .form-control {
		display: block;
		width: 100%;
		vertical-align: middle;
	}

		#StudentDetail .form-control[readonly] {
			background-color: rgba(167, 175, 28, 0.2) !important;
		}

		#StudentDetail .form-control[disabled] {
			background-color: rgba(167, 175, 28, 0.2) !important;
		}

	#StudentDetail .form-group .radio-inline input[type=radio] {
		margin-left: -15px;
	}

	#documentModal .modal-dialog {
		width: 900px;
		margin: 30px auto;
	}
}

.thumbImageGrid {
	max-width: 70px;
	max-height: 70px;
}


*html1 .thumbImageGrid {
	width: expression((this.width/this.height)>=1?70:'auto');
	height: expression((this.width/this.height)<1?70:'auto');
}

.thumbImagePreview {
	max-width: 245px;
	max-height: 184px;
}


*html1 .thumbImagePreview {
	width: expression((this.width/this.height)>=1?245:'auto');
	height: expression((this.width/this.height)<1?184:'auto');
}

.BigImagePreview {
	max-width: 900px;
	max-height: 450px;
	margin: 0px auto;
}


*html1 .BigImagePreview {
	width: expression((this.width/this.height)>=1?900:'auto');
	height: expression((this.width/this.height)<1?450:'auto');
}
#ctl00_ContentPlaceHolder1_gvEmployees_wrapper > .row {
	margin: 0px;
}
#ctl00_ContentPlaceHolder1_gvStudents_wrapper > .row {
	margin: 0px;
}

textarea {
	resize: none;
}

.padding {
	padding: 0px;
}

.padding-R {
	padding: 0px;
}

.padding-L {
	padding: 0px;
}

.avtar-lnk {
	display: inline-block;
	position: relative;
	text-align: center;
	margin: 0px auto;
	margin-left: 10px;
}

	.avtar-lnk:hover a.edit-pic {
		display: block;
	}

a.edit-pic {
	position: absolute;
	color: #FFF;
	top: 0px;
	left: 0px;
	font-size: 10px;
	border-radius: 50%;
	background: rgba(0, 102, 153, 0.25);
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	padding: 27px 0px;
	display: none;
}

.avtar-lnk:hover a.edit-pic {
	display: block;
}

a.edit-pic > i {
	font-size: 20px;
}




#StudentDetail {
	margin-top: 0px;
}

	#StudentDetail.row {
		margin: 0px;
		padding: 0px;
		font-family: 'Source Sans Pro', sans-serif;
	}

	/*#StudentDetail .nav-tabs{
		border-bottom: 1px solid #3C8DBC;
	}*/
	#StudentDetail > ul.nav-tabs {
		margin: 0px;
	}

	#StudentDetail .nav-tabs > li > a {
		border-top: 3px solid transparent;
		font-size: 14px;
		background: #fff;
		border-radius: 0;
		color: #333;
		margin-right: 2px;
		padding: 5px 15px;
	}

		#StudentDetail .nav-tabs > li > a > i.fa {
			margin-right: 5px;
			color: #9CDBFF;
		}

		#StudentDetail .nav-tabs > li > a:hover, #StudentDetail .nav-tabs > li > a:hover, #StudentDetail .nav-tabs > li > a:hover {
			border-radius: 0;
			border-top: 3px solid #3c8dbc;
			background: #fff;
			color: #555;
		}

	#StudentDetail .nav-tabs > li.active > a, #StudentDetail .nav-tabs > li.active > a:focus, #StudentDetail .nav-tabs > li.active > a:hover {
		border-radius: 0;
		border-top: 3px solid #3c8dbc;
		background: #fff;
		color: #555;
	}

	#StudentDetail .tab-bx-edit {
		text-align: right;
		margin-bottom: 10px;
	}

	#StudentDetail .tab-bx {
		padding: 5px 0px 15px;
		background: #fff;
	}


	#StudentDetail .adrs-row {
		background: #f2f2f2;
		font-weight: 600;
		font-size: 14px;
		padding-top: 5px;
		padding-bottom: 5px;
		height: 34px;
		vertical-align: middle;
		border: 1px solid #f0f0f0;
		color: #555;
	}

	#StudentDetail.row .lbl-txt {
		background: #fff;
		font-weight: 600;
		font-size: 14px;
		height: 27px;
		vertical-align: middle;
		border: 1px solid #fdfdfd;
		color: #333;
		text-align: right;
		padding-left: 0px;
	}

		#StudentDetail.row .lbl-txt.text-left {
			text-align: left;
		}

	#StudentDetail.row img {
		background: #e2e2e2;
		margin-bottom: 5px;
		min-height: 150px;
		max-height: 150px !important;
		cursor: pointer;
	}

	#StudentDetail.row .form-box {
		margin-bottom: 10px;
	}

		#StudentDetail.row .form-box.file-box {
			padding: 5px 5px 10px 5px;
		}

			#StudentDetail.row .form-box.file-box .icon-span-filestyle {
				margin-right: 5px;
			}

		#StudentDetail.row .form-box .form-control {
			border-radius: 0;
			height: 27px;
			padding: 0 5px;
		}

		#StudentDetail.row .form-box input[type=radio] {
			margin-left: -20px;
		}

		#StudentDetail.row .form-box input[type=checkbox] {
			margin-left: -20px;
		}

		#StudentDetail.row .form-box input[type=file] {
			border-radius: 0;
			box-shadow: none;
			border: 1px solid #eee;
			height: auto;
		}


		#StudentDetail.row .form-box input.form-control::-webkit-input-placeholder {
			color: #e2e2e2 !important;
		}

		#StudentDetail.row .form-box input.form-control::-moz-placeholder {
			color: #e2e2e2 !important;
		}

		#StudentDetail.row .form-box input.form-control:-moz-placeholder {
			color: #e2e2e2 !important;
		}

		#StudentDetail.row .form-box input.form-control:-ms-input-placeholder {
			color: #e2e2e2 !important;
		}

		#StudentDetail.row .form-box .bootstrap-filestyle input[type=text] {
			height: 34px;
		}

			#StudentDetail.row .form-box .bootstrap-filestyle input[type=text]::-webkit-input-placeholder {
				color: #aaa !important;
			}

	#StudentDetail.row .pre-nxt-btn {
		text-align: center;
	}

		#StudentDetail.row .pre-nxt-btn > .btn {
			width: 100px;
			border-radius: 1px;
			margin: 10px 15px 1px 0px;
			font-size: 14px;
		}

			#StudentDetail.row .pre-nxt-btn > .btn > i.fa.fa-long-arrow-left {
				margin-right: 5px;
				vertical-align: inherit;
			}

			#StudentDetail.row .pre-nxt-btn > .btn > i.fa.fa-long-arrow-right {
				margin-left: 5px;
				vertical-align: inherit;
			}


/* ===================== */

.std-mng-head label{
	text-align:right;
	color:#fff;
}
.std-mng-head > div{
	padding-top: 10px;
	padding-bottom: 10px;
}
.std-mng-head > .class-section{
		margin-left: 6px;
	margin-top: -10px;
	width: 99%;
		background: #606D73;
	padding-top: 10px;
	padding-bottom: 10px;
   border-radius: 0px 0px 0px 25px;
	border: 1px solid #445861;
}
.std-mng-head select.form-control{
		height: 25px;
	padding: 0px 10px;
	border: 1px solid #222D32;
	border-radius: 2px;
}
.std-mng-head input.form-control{
		height: 25px;
	padding: 0px 10px;
	border: 1px solid #222D32;
	border-radius: 2px;
}
.std-mng-head .fa.fa-print {
	height: 25px;
	padding: 2px 10px;
	border: 1px solid #222D32;
	border-radius: 2px;
	background: #5D6E76;
	color: #FFFFFF;
	font-size: 18px;
}
.std-mng-head .fa.fa-search{
		height: 25px;
	padding: 2px 10px;
	border: 1px solid #222D32;
	border-radius: 2px;
	background: #5D6E76;
	color: #FFFFFF;
	font-size: 18px;
}
.std-mng-head .fa.fa-angle-down {
    height: 25px;
    padding: 2px 10px;
    border: 1px solid #222D32;
    border-radius: 2px;
    background: #5D6E76;
    color: #FFFFFF;
    font-size: 18px;
}
.std-mng-head .fa.fa-angle-up {
    height: 25px;
    padding: 2px 10px;
    border: 1px solid #222D32;
    border-radius: 2px;
    background: #5D6E76;
    color: #FFFFFF;
    font-size: 18px;
}
.col-sm-6 .dataTables_length select.form-control{
	height:25px;
	padding:0px 10px;
}
.col-sm-6 .dataTables_filter input.form-control{
	height:25px;
	padding:0px 10px;
}
#ctl00_ContentPlaceHolder1_gvStudents > thead > tr 
{
	
	background-color: rgb(68, 88, 97)!important;
}


/*Login Authentication Model Fee Submission*/
@media (min-width: 768px) {
   #loginForm .modal-dialog {
		width: 600px;
		margin: 150px auto 0;
	}
}
#loginForm .modal-content {
	border-radius: 1px;
}

	#loginForm .modal-content .modal-header {
		background: #337AB7;
		color: #fff;
		border-bottom: 1px solid #2C679A;
		box-shadow: 0px 2px 1px 0px #aaa;
	}

	#loginForm .modal-content .modal-body h4 {
		font-weight: 400;
	}

	#loginForm .modal-content .modal-body .loginForm {
	}

	#loginForm .modal-content .modal-body .formbox > label {
		font-size: 16px;
		font-weight: 300;
	}

	#loginForm .modal-content .modal-body .formbox > .form-control {
		border-radius: 0;
	}

	#loginForm .modal-content .modal-body .formbox input[type=checkbox] {
		margin-right: 5px;
		color: #555;
	}

	#loginForm .modal-content .modal-body .formbox > .btn {
		border-radius: 0;
		min-width: 100px;
		padding: 3px 10px;
	}
	
/*Radio-to-Slider*/
.radios-to-slider{
	background-color:#e0e0e0;
	display:block;
	position:relative;
	margin-bottom:80px;
	-webkit-box-sizing:content-box;
	   -moz-box-sizing:content-box;
		 -o-box-sizing:content-box;
			box-sizing:content-box;
}


.radios-to-slider.medium{
	height:22px;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
	-o-border-radius:25px;
	border-radius:25px;
	padding:5px;
}

/* Levels */
.radios-to-slider .slider-level{
	background-color:#fff;
	cursor:pointer;
	position:absolute;
	display:block;
}

.radios-to-slider .slider-level.slider-lower-level{
	opacity:0.2;
}

.radios-to-slider.medium .slider-level{
	width:22px;
	height:22px;
	-webkit-border-radius:22px;
	-moz-border-radius:22px;
	-o-border-radius:22px;
	border-radius:22px;
	z-index:2;
}

/* Labels */
.slider-label{
	position:absolute;
	display:block;
	cursor:pointer;
	color:#5e5e5e;
	text-align:center;
}

.slider-label-active
{
	font-weight: bold;
}

.radios-to-slider.medium .slider-label{
	top:50px;
	width:55px;
}

/* Slider bar */
.radios-to-slider .slider-bar{
	background-color:#00b4f1;
	float:left;
	height:100%;
	width:0;
	pointer-events:none;
	display:none;
	position:absolute;
	left:0;
	top:0;
}

.slider-bar.transition-enabled{
	-webkit-transition:.2s;
	-moz-transition:.2s;
	-o-transition:.2s;
	transition:.2s;
}

.radios-to-slider.medium .slider-bar{
	-webkit-border-radius:22px;
	-moz-border-radius:22px;
	-o-border-radius:22px;
	border-radius:22px;
}

/* Slider Knob */
.slider-knob{
	float:right;
	background-color:#0977B5;
}

.radios-to-slider.medium .slider-knob{
	width:32px;
	height:32px;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
	-o-border-radius:25px;
	border-radius:25px;
}

/*Radio-to-Slider End*/