.ClassSectionHeader{
        text-align: center;
    margin-top: -18px;
    }
    .ClassSectionHeader > k2{
        font-size:1.7em;
    }
.row {
    margin: 0px;
    padding: 0px;
}

.time-table h3 {
    background-color: #56683D;
    background-image: url(http://www.transparenttextures.com/patterns/diagonales-decalees.png);
    margin: 0px;
    color: #fff;
    padding: 8px 12px;
    text-align: center;
    font-size: 27px;
    color: #FFF;
    text-shadow: 1px 2px 2px #000;
}

.time-table-dates {
    background: #fff;
    border: 1px solid #C2D0AF;
}

ul li {
    list-style-type: none;
}

ul.day {
    display: inline-block;
    padding: 0;
    list-style-type: none;
    margin: 1px;
    vertical-align: top;
}

    ul.day li {
        width: 100%;
        height: 100px;
        text-align: center;
        vertical-align: middle;
        border: 1px solid #e2e2e2;
        margin: 2px;
        padding-top: 10px;
        background-color: #ffffff;
        background-image: url(http://www.transparenttextures.com/patterns/egg-shell.png);
    }

        ul.day li p {
            margin-bottom: 2px;
        }

ul.lunch {
    font-style: italic;
    color: #666;
}

    ul.lunch > li {
        background-color: #F1FDE1;
        background-image: url('images/lunch-box.png');
    }

ul.days li, ul.days li.period {
    border-left: 1px solid #e2e2e2;
    background-color: rgba(0, 87, 162, 0.6);
    color: #fff;
}

ul.day li.period {
    background-color: rgba(61, 83, 104, 0.9);
    border: 1px solid #3D5368;
    color: #fff;
}

ul.day-3 li {
}

p.subject {
    color: #5C9615;
}

p.teacher {
    color: #2185AB;
}



    ul.day li p.edit {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 21px;
        line-height: 21px;
        color: #3D5368;
    }

    ul.day li:hover > P.edit {
        display: block;
    }

    ul.day li p.link {
        display: none;
        position: absolute;
        top: 0;
        right: 20px;
        font-size: 19px;
        line-height: 21px;
        color: #3D5368;
    }

    ul.day li:hover > P.link {
        display: block;
    }

    ul.day li p.subsTeacher {
        display: none;
        position: absolute;
        top: 0;
        right: 120px;
        font-size: 21px;
        line-height: 21px;
        color: #3D5368;
    }

    ul.day li:hover > P.subsTeacher {
        display: block;
    }

    ul.day li p.substitute {
        width: 5px;
        position: relative;
        top: -52px;
        right: 0px;
        font-size: 14px;
        line-height: 0px;
        color: #EC0505;
    }

    ul.day li:hover > P.substitute {
        display: block;
    }

/* =============
           Change
       ------------- */

ul.day li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position:relative;
}



    ul.day li a.link_1, ul.day li a.link_2, ul.day li a.link_3, ul.day li a.link_4 {
        opacity: 0;
        z-index: -1;
        position: absolute;
        margin: 5px;
        font-size: 18px;
        line-height:normal;
        color: #fff;
        transition: all 0.5s ease-in-out;
    }

    ul.day li a.link_1 {
        top: 15px;
        left: 15px;
        color:#ffd700;
        transform:translate(0,-20px);
    }

    ul.day li a.link_2 {
        top: 15px;
        right: 15px;
        /*color:#70E500;*/
        transform:translate(20px,0px);
    }

    ul.day li a.link_3 {
        bottom: 15px;
        right: 15px;
        color:#00fd8a;
        transform:translate(0,20px);
    }

    ul.day li a.link_4 {
        bottom: 15px;
        left: 15px;
        color:#f4f4f4;
        transform:translate(-20px,0px);
    }

     ul.day li a.Tlink_1, ul.day li a.Tlink_2, ul.day li a.Tlink_3, ul.day li a.Tlink_4 {
        opacity: 0;
        z-index: -1;
        position: absolute;
        margin: 5px;
        font-size: 18px;
        line-height:normal;
        color: #fff;
        transition: all 0.5s ease-in-out;
    }
    ul.day li a.Tlink_1 {
        top: 15px;
        left: 15px;
        color:#ffd700;
        transform:translate(0,-20px);
    }

    ul.day li a.Tlink_2 {
        top: 15px;
        right: 15px;
        /*color:#70E500;*/
        transform:translate(20px,0px);
    }

    ul.day li a.Tlink_3 {
        bottom: 15px;
        right: 15px;
        color:#00fd8a;
        transform:translate(0,20px);
    }

    ul.day li a.Tlink_4 {
        bottom: 15px;
        left: 15px;
        color:#f4f4f4;
        transform:translate(-20px,0px);
    }
     ul.day li:hover a.Tlink_1, ul.day li:hover a.Tlink_2, ul.day li:hover a.Tlink_3, ul.day li:hover a.Tlink_4 {
        opacity: 1;
        z-index: 1;
        transform:translate(0,0)
    }

    ul.day li .liBG {
        opacity: 0;
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,.5);
        transition: all 0.3s ease-in-out;
    }
    ul.day li:hover .liBG{
        opacity: 1;
        z-index: 1;
    }

    ul.day li:hover a.link_1, ul.day li:hover a.link_2, ul.day li:hover a.link_3, ul.day li:hover a.link_4 {
        opacity: 1;
        z-index: 1;
        transform:translate(0,0)
    }




.edit-header {
    background-color: #3D5368;
    border: 1px solid #3D5368;
    color: #fff;
    background-image: url(http://www.transparenttextures.com/patterns/blu-stripes.png);
}

.edit-body label {
    color: #3F6C70;
}

.edit-close {
    color: #fff;
    opacity: .8;
    text-shadow: none;
}

.select-row {
    color: #E5F3FF;
}

    .select-row > .col-md-3 {
        padding: 0px 5px;
    }

.class-select {
    text-align: center;
}

    .class-select label {
        font-size: 16px;
        font-weight: normal;
    }

    .class-select .form-inline select.form-control {
        width: 130px;
        border: 1px solid #fff;
        border-radius: 1px;
        height: 25px;
        padding: 0px;
        -webkit-border-radius: 3px !important;
        -moz-border-radius: 3px !important;
        border-radius: 3px !important;
    }

.merge-header {
    background-color: #195AAB;
    border: 1px solid #0F488E;
    color: #fff;
    background-image: url(http://www.transparenttextures.com/patterns/blu-stripes.png);
}

.merge-body label {
    color: #3F6C70;
}

.merge-close {
    color: #fff;
    opacity: .8;
    text-shadow: none;
}

.merge-add {
    padding: 5px;
    border: 1px solid #009CE6;
    color: #E4E4E4;
    display: block;
    text-align: center;
}

.merge-select {
    border-radius: 0;
    width: 120px;
    border: 1px solid #81D6FF;
}

.customwidth {
    width: 650px !important;
}
.SubstitutedPeriod
{
    border: 1px solid!important;
    border-color: red!important;
}
.SubstitutedPeriod > .link_4
{
    color: rgb(251, 33, 7)!important;
}
.SubstitutedTeacherPeriod
{
    border: 1px solid!important;
    border-color: red!important;
}
.SubstitutedTeacherPeriod > .Tlink_2
{
    color: rgb(251, 33, 7)!important;
}
#dvTimeTableContainer{
    margin-top: -20px;
}